<!DOCTYPE html>
<html lang='en'>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/flipclock.css">


    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script type='text/javascript' src='/js/flipclock.js'></script>
    <script>
  // initital variables  
        var dataJson ;
        var clock ;
        var socket = io.connect('http://localhost:3000');
        var connected = false;
        var myUsername ;
        var questions;
        var maxQuestion = 0 ;
        var idUser ;
        var goodQuestion = false ;
        var pickmany = 0 ;
        var actuallQuestionChecked  ;
        var currentQuestion = 0 ; // actuall question
        var currentPoint = 0 ; //

        var allQuestion // all question

        function init() {
            $('.mr-background').css('background-color', 'black');
            $.getJSON("/question/questions.json", function (json) {


                dataJson = json;
                destription = dataJson.Opis;
                imageBackground = dataJson.imgData1;
                imageGamer = dataJson.imgData2;
                imageTarget = dataJson.imgData3;
                maxQuestion = dataJson.Pytania.length  ;
                $('.destription').text(destription);
                $('.mr-background').css('background-image', 'url(' + imageBackground + ')');
                $('.cake').css('background-image', 'url(' + imageTarget + ')');
                $('.mr1').css('background-image', 'url(' + imageGamer + ')');
                $('.mr2').css('background-image', 'url(' + imageGamer + ')');
                $('.mr3').css('background-image', 'url(' + imageGamer + ')');
                $('.mr4').css('background-image', 'url(' + imageGamer + ')');


            });



        }
        function questionLoad(number) {
            if (currentQuestion!= 0 ){
                clock.reset();
            }
            question = dataJson.Pytania[number].TitleQustion;
            questionTime = dataJson.Pytania[number].Time;
            questionImage = dataJson.Pytania[number].imgQuestion;
            questionAudio = dataJson.Pytania[number].audioQuestion;
            questionType = dataJson.Pytania[number].typeOfAnswer;
            label1 = dataJson.Pytania[number].Odp1.title;
            label2 = dataJson.Pytania[number].Odp2.title;
            label3 = dataJson.Pytania[number].Odp3.title;
            label4 = dataJson.Pytania[number].Odp4.title;
            $('.quiestion-text').text(question);
            $('#question-img').attr("src", questionImage);
            $('#question-player').attr("src", questionAudio);
            a = questionTime.split(":");
            questionSecond = Number(a[0]) * 60 + Number(a[1]);

            startClock(questionSecond);

            if (questionType == "pick one") {
                $('.pick-one').css('display','block');
                $('.pick-many').css('display','none');
                $('.insert').css('display','none');
                $('.label1').text(label1);
                $('.label2').text(label2);
                $('.label3').text(label3);
                $('.label4').text(label4);

            }
            if (questionType == "pick many") {
                $('.pick-one').css('display','none');
                $('.pick-many').css('display','block');
                $('.insert').css('display','none');
            }
            if (questionType == "wpisz") {
                $('.pick-one').css('display','none');
                $('.pick-many').css('display','none');
                $('.insert').css('display','block');
            }
            if (questionAudio ==  ""){
                $('#question-player').css('display','none');
            } else {
                $('#question-player').css('display','inline');
            }
        }

    </script>

        <script>
            Array.prototype.contains = function ( needle ) {
                for (i in this) {
                    if (this[i] == needle) return true;
                }
                return false;
            }
            function startClock(time){
                clock = $('.myClock').FlipClock(time, {
                    clockFace: 'MinuteCounter',
                    countdown: true,
                    callbacks: {
                        stop: function() {
                            if( $("#btnSubmit").is(':enabled')) {
                                socket.emit("questionDone", currentQuestion);
                                currentQuestion = currentQuestion + 1;
                            }
                            }
                    }
                });
            }
        </script>
    <script>


        socket.on('connect', function () {

        });

        socket.on('newUserList', function (data) {
            $(".connectedUsers").html('');
            $.each(data.userList, function (i, user) {
                $(".connectedUsers").append("<div id='" + user + "'>" + user + "</div>");
            });

        });

        socket.on('updateUserList', function (data) {

            if (data.connectionType == 'add') {
                $(".connectedUsers").append("<div id='" + data.user + "'>" + data.user + "</div>");
            } else {
                $("#" + data.user).remove();
            }
            numberOfUser = $(".connectedUsers > div").length ;

            if (numberOfUser == 1){
                $(".mr1").css("display","block");

            }
            if (numberOfUser == 2){
                $(".mr1").css("display","block");
                $(".mr2").css("display","block");
            }
            if (numberOfUser == 3){
                $(".mr1").css("display","block");
                $(".mr2").css("display","block");
                $(".mr3").css("display","block");
            }
            if (numberOfUser == 4){
                $(".mr1").css("display","block");
                $(".mr2").css("display","block");
                $(".mr3").css("display","block");
                $(".mr4").css("display","block");
            }

            if (idUser == null){
                idUser = $(".connectedUsers > div").length  ;
            }


        });
        socket.on('startCounter', function(){
           questionLoad(currentQuestion);
            $('.destription').css("display","none");
            $('.quiestion-field').css("display","block");
            $('.answer-field').css("display","block");
        } );

        socket.on('updatePoint', function (data,point) {
            currentPoint = point ;
            $('#'+data).text(data +" ("+ currentPoint +")");

        });


//



        $(document).ready(function () {
          // clock

            init();

            $("#btnSubmit").on('click',function () {
                goodQuestion = false ;

                $("#btnSubmit").prop('disabled',true);
                if (questionType == "pick one") {
                    if ($('.option1').is(':checked')) {
                        if (dataJson.Pytania[currentQuestion].Odp1.goodAnswer) {
                            goodQuestion = true;
                        }
                    }
                    if ($('.option2').is(':checked')) {
                        if (dataJson.Pytania[currentQuestion].Odp2.goodAnswer) {
                            goodQuestion = true;
                        }
                    }
                    if ($('.option3').is(':checked')) {
                        if (dataJson.Pytania[currentQuestion].Odp3.goodAnswer) {
                            goodQuestion = true;
                        }
                    }
                    if ($('.option4').is(':checked')) {
                        if (dataJson.Pytania[currentQuestion].Odp4.goodAnswer) {
                            goodQuestion = true;
                        }
                    }
                }

                if (questionType == "pick many") {
                    pickmany = 0 ;
                    if ($('.option1').is(':checked') == dataJson.Pytania[currentQuestion].Odp1.goodAnswer ) {
                            pickmany = pickmany + 1;
                    }
                    if ($('.option2').is(':checked') == dataJson.Pytania[currentQuestion].Odp2.goodAnswer) {

                            pickmany = pickmany + 1;

                    }
                    if ($('.option3').is(':checked') == dataJson.Pytania[currentQuestion].Odp3.goodAnswer) {

                            pickmany = pickmany + 1;

                    }
                    if ($('.option4').is(':checked') == dataJson.Pytania[currentQuestion].Odp4.goodAnswer) {

                            pickmany = pickmany + 1;

                    }
                    if (pickmany == 4){
                        goodQuestion = true ;
                    }
                }
                if (questionType == "wpisz") {
                    if ($(".option-text").val() == dataJson.Pytania[currentQuestion].Odp1.title){
                        goodQuestion = true ;
                    }
                    if ($(".option-text").val() == dataJson.Pytania[currentQuestion].Odp2.title){
                        goodQuestion = true ;
                    }
                    if ($(".option-text").val() == dataJson.Pytania[currentQuestion].Odp3.title){
                        goodQuestion = true ;
                    }
                    if ($(".option-text").val() == dataJson.Pytania[currentQuestion].Odp4.title){
                        goodQuestion = true ;
                    }

                }
                if (goodQuestion){
                    currentPoint = currentPoint + 1 ;
                    socket.emit('addPointToUser',myUsername,currentPoint);
                }


                socket.emit("questionDone",currentQuestion);
                currentQuestion = currentQuestion + 1 ;
            });


         //   new BugController({'minBugs':10, 'maxBugs':50, 'mouseOver':'die'});
            $('#btnJoin').on('click', function () {
                var username = prompt("Dodaj użytkownika");
                if (username != '') {
                    myUsername = username ;
                    socket.emit('addUser', username);
                    connected = true;
                } else {
                    alert("USERNAME PLEASE!");
                }
                setTimeout(function(){
                    numberOfUser = $(".connectedUsers > div").length ;

                    if (numberOfUser == 1){
                        $("#btnStart").css("display","block");
                        $("#btnJoin").css("display","none");
                    }else {
                        $("#btnJoin").css("display","none");
                    }

                },100);

            });

            $('#btnStart').on('click', function () {

                socket.emit('startCount');
                $('#btnStart').css("display","none");



            });


            /// check question
            socket.on('changeQuestionInAll', function (data, state) {
              //  console.log(data + " " + state);


                $("input[value='" + data + "']").attr('checked', state);
            });



        });
        socket.on("updatePointAll",function (username,sendPoint) {
            console.log(username);
            console.log(sendPoint);
        });
        socket.on('nextQuestion', function (pointUserEmit) {



            if (currentQuestion < maxQuestion) {
                questionLoad(currentQuestion);
                $("#btnSubmit").prop('disabled', false);
                socket.emit("updatePoint", myUsername );
            }
            else {
                socket.emit("updatePoint", myUsername );
                socket.emit("clean");
                alert('koniec');
            }


        });
        socket.on('nextQuestionChange', function (data, state) {
            clock.setTime(10);
            clock.start();

           // console.log(data + " " + state);
            currentQuestion = state ;
           // get_question(state);
            curretMr = $(".mr"+idUser).css("left");

            $(".mr"+idUser).css("left", 120*state);

        });
    </script>
</head>
<body>

<div class="mr-background">

    <div class="quiestion-field">
        <div class="quiestion-text"></div>
        <img id="question-img" width="100"/>
        <audio controls controlsList="nodownload" id="question-player"></audio>
    </div>
        <div class="answer-field">
            <div class="pick-one right-ans" style="display: none">
                <form>
                    <div class="radio">
                        <label><input class="option1" type="radio" name="optradio"><div class="label1">Option 1</div></label>
                    </div>
                    <div class="radio">
                        <label><input class="option2" type="radio" name="optradio"><div class="label1">Option 2</div></label>
                    </div>
                    <div class="radio">
                        <label><input class="option3" type="radio" name="optradio" ><div class="label1">Option 3</div></label>
                    </div>
                    <div class="radio">
                        <label><input class="option4" type="radio" name="optradio" ><div class="label1">Option 4</div></label>
                    </div>
                </form>
            </div>
            <div class="pick-many right-ans" style="display: none">
                <form>
                    <div class="checkbox">
                        <label><input class="option1" type="checkbox" name="optradio"><div class="label1">Option 1</div></label>
                    </div>
                    <div class="checkbox">
                        <label><input class="option2" type="checkbox" name="optradio"><div class="label2">Option 2</div></label>
                    </div>
                    <div class="checkbox">
                        <label><input class="option3" type="checkbox" name="optradio"><div class="label3">Option 3</div></label>
                    </div>
                    <div class="checkbox">
                        <label><input class="option4" type="checkbox" name="optradio"><div class="label4">Option 4</div></label>
                    </div>
                </form>
            </div>
            <div class="insert right-ans" style="">
                <form>
                    <div>
                        <label><input class="option-text" type="text" name="optradio"></label>
                    </div>
                </form>
            </div>
            <button type="button" id="btnSubmit" class="btn btn-primary">Zatwierdź</button>

        </div>

    <div class="myClock"></div>
<div class="mr1"></div>

<div class="mr2"></div>
    <div class="mr3"></div>
    <div class="mr4"></div>

    <div class="cake"></div>
    <div class="destription"></div>

</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='span12'>

        </div>
    </div>
    <div class='row'>
        <div class='span4'>
            <div class='well'>
                <h3>Użytkownicy</h3>
                <div class='connectedUsers'>

                </div>
                <button id='btnStart' class='btn btn-primary'>Start</button>
                <button id='btnJoin' class='btn btn-primary'>Dołącz do gry</button>
            </div>
        </div>


    </div>
</div>
</body>
</html>