/*Advent Pro*/

/* greek */
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'),url('fonts/advent_pro_chrome_1.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'), url('fonts/advent_pro_chrome_2.woff2') format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Advent Pro Regular'), local('AdventPro-Regular'), url('fonts/advent_pro_chrome_3.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url('fonts/advent_pro.woff') format('woff');
}
}



/*Alegreya*/
/* latin-ext */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url('fonts/alegreya_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url('alegreya_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url('fonts/alegreya.woff') format('woff');
}
}


/*Anaheim*/
/* latin-ext */
@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url('fonts/anaheim_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url('anaheim_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Anaheim';
  font-style: normal;
  font-weight: 400;
  src: local('Anaheim'), local('Anaheim-Regular'), url('anaheim.woff') format('woff');
}
}

/*Average Sans*/
/* latin-ext */
@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url('fonts/averagesans_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url('fonts/averagesans_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Average Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Average Sans'), local('AverageSans-Regular'), url('fonts/averagesans.woff') format('woff');
}
}


/*Crete Round*/
/* latin-ext */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url('fonts/creteround_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url('fonts/creteround_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url('fonts/creteround.woff') format('woff');
}
}


/*Doppio One*/
/* latin-ext */
@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url('fonts/doppioone_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url('fonts/doppioone_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Doppio One';
  font-style: normal;
  font-weight: 400;
  src: local('Doppio One Regular'), local('DoppioOne-Regular'), url('fonts/doppioone.woff') format('woff');
}
}


/*Lato*/
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/lato.woff') format('woff');
}
}


/*Oxygen Mono*/
/* latin-ext */
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url('fonts/oxygenmono_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url('fonts/oxygenmono_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen Mono'), local('OxygenMono-Regular'), url('fonts/oxygenmono.woff') format('woff');
}
}


/*Quando*/
/* latin-ext */
/*@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(http://fonts.gstatic.com/s/quando/v4/Oeohr3r1MT36PpT5mWulufesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(http://fonts.gstatic.com/s/quando/v4/omsi5Ktg0R2XK1-ct43n0vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}*/

@-moz-document url-prefix() {
@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url('fonts/quando.woff') format('woff');
}
}


/*Righteous*/
/* latin-ext */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url('fonts/righteous_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url('fonts/righteous_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url('fonts/righteous.woff') format('woff');
}
}


/*Sanchez*/
/* latin-ext */
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url('fonts/sanchez_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url('fonts/sanchez_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url('fonts/sanchez.woff') format('woff');
}
}



/*Source Code Pro*/
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('fonts/sourcecodepro_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('fonts/sourcecodepro_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('fonts/sourcecodepro.woff') format('woff');
}
}



/*Trykker*/
/* latin-ext */
@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: local('Trykker Regular'), local('Trykker-Regular'), url('fonts/trykker_chrome_1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: local('Trykker Regular'), local('Trykker-Regular'), url('fonts/trykker_chrome_2.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-moz-document url-prefix() {
  @font-face {
    font-family: 'Trykker';
    font-style: normal;
    font-weight: 400;
    src: local('Trykker Regular'), local('Trykker-Regular'), url('fonts/trykker.woff') format('woff');
  }
}