h1 {
	text-transform: uppercase;
}

.movie-container {
	width: 100%;
	height: 850px;
    overflow: hidden;
    position: relative;

    background-color: #2B2D35;
}

.movie {
    opacity: .2;
	width: 100%;
	height: 850px;
}

.movie video {

    position: absolute;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;

}

.frontpage-welcome {
	position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}

.frontpage-thumbnail {
	border: none;
    height: 55px;
}

.frontpage-icon-block h4 {
	text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.frontpage-icon-block {
	margin: 30px 0px;
}

.checkout-row {
    background-color: #007DCD;
    height: auto;
    padding: 20px 0px;
    overflow: hidden;
}

.checkout-row h4 {
	color: #fff;
    font-size: 20px;
}

.test-drive-input {
/*	height: 35px;
    line-height: 35px;*/
}

.test-drive-button {
/*	height: 35px;
    line-height: 35px;*/
}

.page-container {
    margin: 50px auto;
    float: none;
}

.welcome-extra {
    opacity: .6;
    margin-bottom: 45px;
}

.test-drive-row {
    height: 60px;
}

.test-drive,
.watchvideobtn
{
    padding: 16px 65px;
    border-radius: 22px;
    color: #fff;
    text-decoration: none;
    width: 214px;
    height: 51px;
    position: relative;
    margin: 0px 10px;
}

.test-drive .fa,
.watchvideobtn .fa
{
    position: relative;
    left: -20px;
    top: 0px;
}

.test-drive {
    background-color: #007DCD;
}

.watchvideobtn {
}

.test-drive:hover,
.test-drive:visited,
.test-drive:active
{
    color: #fff;
}

.test-drive-text {
    font-size: 13px;
}

@media (max-width: 1300px) {

	.checkout-row h4 {
	    font-size: 16px;
	}
}	

.trusted-us-logos li {
    display: inline-block;
    margin: 20px 45px;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.frontpage-icon-block h4 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.frontpage-icon-block * {
    color: #5A5A5A;
}
.thumbnail img {
    height: auto;
    min-width: 50%;
    max-height: 100%;
}
.frontpage-icon-block:hover * {
    color: #348AB5 !important;
}
.frontpage-thumbnail {
    opacity: 1;
    box-shadow: none;
    background-color: #F7F7F7;
}
.frontpage-icon-block {
    margin: 30px 0px;
    display: inline-block;
    vertical-align: top;
    float: none;
}
@media (min-width: 992px) {
 
    .publication-block.col-md-4, .frontpage-icon-block.col-md-4, .sortable-banners-placeholder {
        width: 33% !important;
    }   
}

@media (min-width: 768px) {
    .col-sm-6 {
       width: 49% !important;
    }   
}

.contact-block p {
    margin: 6px 0px;
    color: #fff;
    opacity: .8;
    font-size: 12px;
}

.youtube-player-modal {
    padding: 4px 4px 0px 4px;
    background-color: #7FA2B8;
    border-radius: 5px;
}