body {
    color: #5a5a5a;
    background: #F7F7F7;
}

.diagram-item {
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    padding: 40px;
    vertical-align: top;
/*    height: 140px;
    width: 140px;
    line-height: 130px;*/
}
.diagram-pp {
    color: #000;
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    position: absolute;
    right: 100px;
    top: 100px;    
    background-image: url(img/hand_cursor.png);
    background-repeat: no-repeat;
    background-position: 120px 75px;
    border: 2px dashed #7FA1B7;
    text-align: center;
}

.diagram-pp:hover {
    text-decoration: underline;
}



#plans,#plans ul,#plans ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#pricePlans:after {
    content: '';
    display: table;
    clear: both;
}

#pricePlans {
    zoom: 1;
}

#pricePlans {
    max-width: 69em;
    margin: 0 auto;
}


#pricePlans #plans .plan {
    background: #fff;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 20px 0;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
    font-size: 2.125em;
    font-weight: 300;
    color: #3e4f6a;
    margin: 0;
    padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
    background: #3e4f6a;

    background: -webkit-linear-gradient(top, #7FA2B8, #618DA9);
    background: -moz-linear-gradient(top, #7FA2B8, #618DA9);
    background: -o-linear-gradient(top, #7FA2B8, #618DA9);
    background: -ms-linear-gradient(top, #7FA2B8, #618DA9);
    background: linear-gradient(top, #7FA2B8, #618DA9);
    color: #fff;
    border-radius: 5px 5px 0 0;
}


.planContainer .price p {
    background: #3e4f6a;

    background: -webkit-linear-gradient(top, #7FA2B8, #618DA9);
    background: -moz-linear-gradient(top, #7FA2B8, #618DA9);
    background: -o-linear-gradient(top, #7FA2B8, #618DA9);
    background: -ms-linear-gradient(top, #7FA2B8, #618DA9);
    background: linear-gradient(top, #7FA2B8, #618DA9);
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    height: 2.6em;
    line-height: 2.6em;
    margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
    background: #f7814d;
    font-size: 14px;    
}

.planContainer .price p span {
    color: #fff;
    font-size: 14px;    
}

.planContainer .options {
    margin-top: 10em;
}

.planContainer .options li {
    font-weight: 700;
    color: #364762;
    line-height: 2.5;
}

.planContainer .functionalities li {
    font-weight: 700;
    color: #364762;
    line-height: 16px;
    margin: 18px 15px !important;
    cursor: pointer;
}

.planContainer .functionalities li[title]:hover {
    text-decoration: underline;
}

.planContainer .options li span {
    font-weight: 400;
    color: #979797;
}

.planContainer .functionalities li span {
    font-weight: 400;
    color: #979797;
}

.planContainer .button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3e4f6a;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2.8em;
    border: 2px solid #3e4f6a;
    display: inline-block;
    width: 80%;
    height: 2.8em;
    border-radius: 4px;
    margin: 1.5em 0 1.8em;
}

.bestPlanButton {
    color: #fff;
    background: #f7814d;
    border: 2px solid #f7814d;
}

#credits {
    text-align: center;
    font-size: .8em;
    font-style: italic;
    color: #777;
}

#credits a {
    color: #333;
}

#credits a:hover {
    text-decoration: none;
}



@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
    width: 49%;
    margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
    margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

    #pricePlans {
        margin: 2em auto;
    }

    #pricePlans #plans .plan {
        width: 24%;
        margin: 0 1.33% 20px 0;

        -webkit-transition: all .25s;
           -moz-transition: all .25s;
            -ms-transition: all .25s;
             -o-transition: all .25s;
                transition: all .25s;
    }

    #pricePlans #plans > li:last-child {
        margin-right: 0;
    }


    .planContainer .button a {
        -webkit-transition: all .25s;
           -moz-transition: all .25s;
            -ms-transition: all .25s;
             -o-transition: all .25s;
                transition: all .25s;
    }

    .planContainer .button a:hover {
        background: #3e4f6a;
        color: #fff;
    }

    .planContainer .button a.bestPlanButton:hover {
        background: #ff9c70;
        border: 2px solid #ff9c70;
    }

}


.plan-extra-info {
    padding: 2px 10px;
    min-height: 7em;
    font-style: italic;
    font-size: 13px;
    width: 80%;
    margin: 0 auto !important;
    font-weight: 100;
}

.not-available {
    text-decoration: line-through;
}
.plan.bestPlan {
    /*margin-top: -3px !important;*/
}

.plan .tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.plan .tooltip > .tooltip-inner {
    background-color: #3B4D68; 
    font-size: 14px;
}
.plan .tooltip > .tooltip-arrow { 
    border-bottom-color:#3B4D68;  
}

@media (max-width: 1560px) {

    .diagram-pp {
        right: 30px;
    }
}
@media (max-width: 1400px) {

    .diagram-pp {
        display: none;
    }
}

.bottom-extra-info {
    text-align: center;
}

h2.gopro-section-description {
    font-size: 20px;
    min-height: 6em;
    padding: 0px 10px;
    line-height: 30px;
}

.bottom-extra-info a {
    cursor: pointer;
}



#gopro-form {
    display: none;
}

.goproPopup {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background: rgba(0,0,0,.2);

}


.gpsecond-step {
    display: none;
}

.goproPopupInner {
    left: calc(50% - 225px);
    top: calc(50% - 100px);
    width: 450px;
    padding: 8px;
    background: #fff;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 2px #CFCFCF;
    overflow: hidden;

    -webkit-transition: height 400ms ease-in-out;
    -moz-transition: height 400ms ease-in-out;
    -o-transition: height 400ms ease-in-out;
    transition: height 400ms ease-in-out;

/*    border-color:  #7FA1B7;
    border-width: 3px 1px 3px 1px;
    border-style: solid;*/
}

.goproPopupInner .gp-close {
    top: -3px;
    right: -5px;
}

span.header-extras {
    color: #5082A5;
    font-weight: 500;
}

.goproPopupInner .header {
    text-align: center;
    font-family: 'calibri';
    font-size: 26px;
    color: #363636;
    margin: 12px;
    font-weight: bold;
}
.goproPopupInner .extraInfo {
    text-align: center;
    font-family: 'calibri';
    font-size: 15px;
    color: #363636;
}

.price-preview {
    position: absolute;
    bottom: 26px;
    left: 15px;
    font-weight: bold;
    font-style: italic;
}

.goproPopup .gpoption {
    position: relative;
    width: 98%;
    height: 55px;
    border: 1px solid #ccc;
    padding: 6px;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    line-height: 42px;
    text-indent: 10px;
    color: #5a5a5a;

    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.goproPopup .gpoption:hover {
    border: 1px solid #F7C848;
    border-left: 10px solid #F7C848;
}

.goproPopup .choosenOption {
    border-left: 10px solid #F7C848;
}



.goproPopup .slider-wrapper {
    position: relative;
    width: 98%;
    border: 1px solid #ccc;
    padding: 6px;
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    line-height: 42px;
    text-indent: 10px;
    color: #5a5a5a;
}

.goproPopup .slider-wrapper .slider {
    width: 90%;
    margin: 0 auto;
    float: none;
    display: block;
    padding: 10px 0px;
}

.goproPopup .gpoption .price {
    color: #695B09;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 40px;
}

.goproPopupInner form {
    margin: 0;
    text-align: center;
}

.gopro-popup-firststepbtn-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.gopro-popup-firststepbtn {
    background: #7fa2b8 !important;
    color: #fff !important;
}

.gopro-popup-firststepbtn:hover {
    background: #648599 !important;
}



.gpsecond-step {
    text-align: center;
}

.gpsecond-step input {
    width: 80%;
}


.pricing-subpage {
    
}
.pricing-subpage .panel {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    width: 74%;
    background-color: transparent;
    box-shadow: none;
}

.pricing-subpage .panel .header {
    font-size: 30px;
}

.pricing-subpage .panel .content {
    padding: 15px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}
.pricing-subpage .panel-half{
    width: 37%;
}
.pricing-subpage #plans .plan {
}


.pricing-subpage #plans .plan {
    width: 24% !important;
    margin: 0 1.33% 20px 0;

    -webkit-transition: all .25s;
       -moz-transition: all .25s;
        -ms-transition: all .25s;
         -o-transition: all .25s;
            transition: all .25s;
}

.pricing-subpage .panel .buybutton {
    text-transform: uppercase;
    text-decoration: none;
    color: #3e4f6a;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 2.8em;
    border: 2px solid #3e4f6a;
    display: inline-block;
    width: 80%;
    height: 2.8em;
    border-radius: 4px;
    margin: 1.5em 0 1.8em;
    cursor: pointer;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.pricing-subpage .panel .buybutton:hover {
    background: #3e4f6a;
    color: #fff;
}

.window-body .buybutton {
    text-transform: uppercase;
    text-decoration: none;
    color: #3e4f6a;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 30px;
    border: 2px solid #3e4f6a;
    display: inline-block;
    width: 80%;
    height: 42px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.window-body .buybutton:hover {
    background: #3e4f6a;
    color: #fff;
}

.pricing-subpage .price-block {
    font-size: 24px;
}

.promocode-input,
.invoice-form input
{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.pricing-subpage .panel .content span {
    font-weight: 400;
    color: #979797;
}

.pricing-subpage .panel .buybutton:focus,
.pricing-subpage .panel .buybutton:focus
{
    outline: none;
}

#invoice_selected {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    margin-top: -2px;
    vertical-align: middle;
}

.panel-warning {
    box-shadow: #F90 0px 0px 10px !important;
}

.paypal-form-is-disabled *{
    opacity: .4;
}

.paypal-form-loader{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(img/loaders/easyloader.gif);
    background-size: 20px 20px;
    vertical-align: middle;
}

.promocode-feedback {
    padding-top: 10px;
}

.promocode-feedback span{
    color: inherit !important;
    margin: 0 auto;
}

.promocode-section {
    height: 160px;
}

.promocodepanel {
    display: none;
}