
.edit-profile-form {
    position: relative;
    margin-left: 30px;
    text-align: center;
}

.edit-profile-button {
    position: relative;
    margin: 10px auto;
}

.save-profile {
    vertical-align: top;
}

.edit-profile-form input {
    width: 300px;
    display: inline-block;
    text-align: center;
    margin: 10px 15px;
}

.btn-darkan-color
{
    background: #5082A5;
}

.btn-darkan-color:hover
{
    background: #67ABD6;
}

.edit-profile-content .error {
    border: 1px solid red;
}

.edit-profile-form fieldset {
    margin-top: 30px;
}

.edit-profile-avatar-preview {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    background-position: 50% 50%;
    background-size: cover;
}

#changeavatar {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #000;
    cursor: pointer;
}

.edit-profile-content .edit-project-icons-container {
    width: 100%;
    height: 80px;
}

.edit-profile-content .edit-profile-icon-choice {
    float: left;
    width: 95px;
    height: 71px;
    border: 1px solid #CCC;
    margin-left: 8px;
}

.edit-profile-content .edit-profile-icon-choice:hover {
    border: 1px solid #000;
}

.edit-profile-content .edit-profile-icon-choice[img="1"] {
    background: url('../../portal/assets/img/avatars/1.png') no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.edit-profile-content .edit-profile-icon-choice[img="2"] {
    background: url('../../portal/assets/img/avatars/2.png') no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.edit-profile-content .edit-profile-icon-choice[img="3"] {
    background: url('../../portal/assets/img/avatars/3.png') no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.edit-profile-content .edit-profile-icon-choice[img="4"] {
    background: url('../../portal/assets/img/avatars/4.png') no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.edit-profile-content .edit-profile-icon-choice[img="5"] {
    background: url('../../portal/assets/img/avatars/5.png') no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.edit-profile-content .change-pass-oldpass,
.edit-profile-content .change-pass-newpass,
.edit-profile-content .change-pass-retypepass {
    padding: 0px !important;
    margin-bottom: 3px;
}


.edit-profile-form .plans-table {
    font-size: 16px;

}

.edit-profile-form .plans-table td {
    padding: 10px;
    border: none;
    text-align: center;
}

.edit-profile-form .plans-table th {
    text-align: center;
}

.plans-preview {
    position: absolute;
    left: 450px;
    top: 17px;
}

.plan-preview {
    position: relative;
    display: inline-block;
    margin: 0px 15px;
}

.plan-preview .plan-preview-button {
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
}

.plan-preview.plan-scorm .plan-preview-button {
    background-color: #0A0E39;
    color: #fff;
}
.plan-preview.plan-elearning .plan-preview-button {
    background-color: #7B8EC5;
    color: #fff;
}
.plan-preview.plan-mailing .plan-preview-button {
    background-color: #47CBF2;
    color: #fff;
}

.plan-preview-dropdown ul:after {
    left: 43px;
    top: -15px;
}
.plan-preview-dropdown ul {
    padding: 10px 10px;
}
.plan-preview-dropdown {
    left: -36px;
    text-align: center;  
    font-size: 13px; 
}
.plan-preview .dropdown-head {
    font-weight: bold;
}
.plan-preview .dropdown-body {
    margin-top: 10px;
}
.plan-preview-days-left {
    font-size: 12px;
    text-align: center;
}