.tutorial-list {
    text-align: left;
}
.tutorial-list-item {
    margin: 12px 0px;
}
.tutorial-list-item a {
    font-size: 20px;
    color: #5a5a5a;
}
.breadcrumbs {
    color: #5a5a5a;
    margin: 30px 0px;
}
.breadcrumbs a {
    color: #5a5a5a;
    text-decoration: underline;
}