.highlight {
	color:green;
}
.mr-background {
	width: 860px ;
	height: 500px ;
	position: relative;
	top: 0px ;
	left: 200px;
	background: url('/img/mr_tlo.jpg') ;
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	z-index: -4;
}
.mr1 {
	background: url("/img/mrowka.png");
	width: 110px ;
	height: 104px ;
	position: absolute;
	top: 0px ;
	left: 10px;
	background: url('/img/mrowka.png') ;
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	z-index: -2;
	display: none ;
}
.mr2 {
	background: url("/img/mrowka.png");
	width: 110px ;
	height: 104px ;
	position: absolute;
	top:100px ;
	left: 10px;
	background: url('/img/mrowka.png') ;
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	z-index: -2;
	display: none;
}
.mr3 {
	background: url("/img/mrowka.png");
	width: 110px ;
	height: 104px ;
	position: absolute;
	top:220px ;
	left: 10px;
	background: url('/img/mrowka.png') ;
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	z-index: -2;
	display: none;
}
.mr4 {
	background: url("/img/mrowka.png");
	width: 110px ;
	height: 104px ;
	position: relative;
	top:320px ;
	left: 10px;
	background: url('/img/mrowka.png') ;
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	z-index: -2;
	display: none;
}
.cake {
	background: url('/img/ciastko.png');
	width: 243px ;
	height: 243px ;
	position: absolute;
	z-index: -5;
	top: 105px ;
	left: 485px ;
}
.myClock {
	position: absolute;
	z-index: -1;
	top: 400px ;
	left:0px ;

}
#btnStart {
	display: none;
}