/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    margin:10px;
}


#skin {
    position: relative;
    width: 900px;
    height: 580px;
    background-image:url('../skin/skin.png');
    margin: auto;
    bottom: 0px;
}

#stage {
    position: absolute; 
    top: 19px;
    left: 19px;
    z-index: 1;
    height: 500px;
}

#pagename {
    display: none;
    position: absolute;
    font-size: 16px;
    font-family: Arial;
    color: #fff;
    top: 30px;
    left: 192px;
    width: 700px;
    text-align: left;
    height: 20px;
    line-height: 16px;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu {
    position: relative;
    width: 860px;
    height: 60px;
    top: 520px;
    left: 0px;
    z-index: 2;
}

#buttons {
    position: relative;
    width: 860px;
    height: 49px;
}
#buttons div {
    cursor: pointer;
}

#previous {
    position: absolute;
    width: 55px;
    height: 50px;
    background-image: url('../skin/prevbtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 336px;
    top: 5px;
    cursor:pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#previous:hover {
    /*background-image: url('../skin/prevbtn.png');*/
}

#next {
    position: absolute;
    width: 55px;
    height: 50px;
    background-image: url('../skin/nextbtn.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 315px;
    top: 5px;
    cursor:pointer;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#next:hover {
    /*background-image: url('../skin/S_PRZÓD_NAJECHANE.png');*/
}

#stop {
    display: none;
    position: absolute;
    left: 42px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -90px 0px;
}

#pause {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -60px -30px;
    left: 104px;
    top: 20px;
}

#play {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -60px 0px;
    left: 165px;
    top: 20px;
}

#counter:before {
    /*content: "Slajd";*/
    left: -20px;
    position: absolute;
}

#counter {
    position: absolute;
    width: 65px;
    height: 30px;
    left: 409px;
    top: 21px;
    font-family: sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
}

#progressbar {
    display: none;
    width: 70%;
    height: 9px;
    background: #fff;
    left: 70px;
    top: 19px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}

#progressbar-inside {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    width: 0%;
    background: #004CC2;
    height: 100%;
    border-radius: 10px;
}

#zoom {
    display: none;
    position: absolute;
    width: 150px;
    height: 35px;
    background-image: url('../skin/zoom.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 40px;
    top: 7px;
    cursor: pointer;
    border: 0px;
}

#fullscreen {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 160px;
    top: 9px;
    cursor: pointer;
    border: 0px;
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
    background-repeat: no-repeat;
    background-size: contain;
}


#toc {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('../skin/toc.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: 220px;
    top: 9px;
    cursor: pointer;
}

#zoom-slider {
    display: block !important;
    position: absolute;
    width: 98px;
    height: 15px;
    right: 25px;
    top: 23px;
    cursor: pointer;
    border: 0px;
    opacity: 1 !important;
    text-indent: -90px;
}

#zoom-slider:after {
    content: ' ';
    position: absolute;
    width: 194px;
    height: 39px;
    background-image: url('../skin/zoom.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: -13px;
    top: -14px;
    cursor: pointer;
    border: 0px;
}

#sound-slider {
    display: block !important;
    position: absolute;
    width: 98px;
    height: 15px;
    left: 68px;
    top: 23px;
    cursor: pointer;
    border: 0px;
    opacity: 1 !important;
    text-indent: -90px;
}

#sound-slider:after {
    content: ' ';
    position: absolute;
    width: 178px;
    height: 41px;
    background-image: url('../skin/volume.png');
    background-repeat: no-repeat;
    background-size: contain;
    left: -46px;
    top: -14px;
    cursor: pointer;
    border: 0px;
}

#status {
    display: none;
    position: absolute;
    width: 90px;
    height: 35px;
    left: 75px;
    top: 14px;
    cursor: pointer;
    border: 0px;
    opacity: 1 !important;
    text-indent: -90px;
}  

#page-wrapper {
    position: relative;
    width: 860px;
    margin: 0 auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#help {
    display: none;
    position: absolute;
    width: 36px;
    height: 36px;
    background-image:url('../skin/sprite.png');
    background-position: -95px 0px;
    left: 300px;
    top: 20px;
    cursor: pointer;
}

#speaker {
    display: none;
    position: absolute;
    width: 30px;
    height: 20px;
    right: 180px;
    top: 25px;
    background-image:url('../skin/buttons/speakerON.png');
}

.passedElement{
    background: #62c462;
    border: 3px solid #62c462;
    color: #62c462;
    width: 500px;
}


#dialog-overlay {
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;

    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 

    /* hide it by default */
    display:none;
}


#dialog-box {
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:328px; 

    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 

    /* hide it by default */
    display:none;
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left; 
	padding:10px; 
	margin:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}

a.button {
    /* styles for button */
    margin:10px auto 0 auto;
    text-align:center;
    background-color: #00F;
    display: block;
    width:50px;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;

    /* css3 implementation :) */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

a.button:hover {
    background-color: #149bdf;	
}

/* extra styling */
#dialog-box .dialog-content p {
    font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
    margin:10px 0 10px 20px; 
    padding:0; 
    height:50px;
}
#help-screen{
    width: 600px;
    height: 350px;
}
#toc-screen{
    display: none;
/*    display: none;
    width: 600px;
    height: 350px;*/
}

#tog-screen-scroll {
    /*display: none;*/
    overflow-y: scroll;
    overflow-x: hidden;
    height: 262px;
    width: 580px;
}

.toc-gotoscreen {
    /*display: none;*/
    width: 540px;
    height: 45px;
    margin: 2px;
    line-height: 45px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.toc-gotoscreen:active {
    border: 1px solid red;
}

.toc-gotoscreen:hover {
    background-color: rgb(228, 228, 228);
}

#status-screen-scroll {
    display: none;
    overflow-y: auto;

    height: 262px;
    width: 580px;
}

.status-gotoscreen {
    display: none;
    width: 540px;
    height: 45px;
    margin: 2px;
    line-height: 45px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.status-gotoscreen:active {
    border: 1px solid red;
}

.status-gotoscreen:hover {
    background-color: rgb(228, 228, 228);
}

.arrow-active {
    margin-top: -13px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

#zoom-slider .ui-slider-handle,
#sound-slider .ui-slider-handle 
{
    width: 20px;
    height: 20px;
    background-image:url('../skin/slider_item.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}