/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
display: block;
margin:10px;
}

.topbar,
.botbar
{
    clear: both;
    overflow: hidden;
}
.topbar div,
.botbar div
{
    float: left;
    vertical-align: top;
}

.topbar-smallbar,
.botbar-smallbar 
{
    width: 100%;
    height: 10px;
    background-color: #E30073;
}


.topbar .rightside,
.topbar .leftside,
.topbar .middle 
{
    height: 40px;
    width: 17px;
}

.botbar .leftside
{
    width: 17px;
    height: 48px;
}
.botbar .middle
{
    width: calc(100% - 34px);
    height: 48px;
    background-repeat: repeat-x;
}
.botbar .rightside
{
    width: 17px;
    height: 48px;
}

.botbar {
    position: relative;
}

.leftbar,
.rightbar
{
    position: relative;
    float: left;
    width: 10px;
    height: calc(100% - 136px);
    background-repeat: repeat-y;
}

.leftbar {
}
.rightbar {
}

#skin {
    position: relative;
/*    width: 930px;
    height: 610px;*/
    margin: auto;
    top: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7d7d7+0,ffffff+100 */
    background: #d7d7d7; /* Old browsers */
    background: -moz-linear-gradient(top,  #d7d7d7 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d7d7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d7d7d7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d7d7d7 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d7d7d7 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d7d7d7 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7d7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 3px 3px 10px 2px #ccc;
    -moz-box-shadow:    3px 3px 10px 2px #ccc;
    box-shadow:         3px 3px 10px 2px #ccc;
}
#stage {
    float: left;
    position: relative; 
    z-index: 1;
    top: -5px;
}

#menu {
    position: relative;
    height: 40px;
    width: 80%;
    z-index: 2;
    float: none;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    top: -11px;
}

.botbar .middle {
      margin-top: 6px;
}

.menu-left {
    width: 29px;
    height: 52px;
    background-image:url('../skin/menu_left.png');
}
.menu-middle {
    width: calc(100% - 58px);
    height: 52px;
    background-repeat: repeat-x;
    background-image:url('../skin/menu_middle.png');
}
.menu-right {
    width: 29px;
    height: 52px;
    background-image:url('../skin/menu_right.png');
}

#pagename {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 785px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    overflow: hidden;
    font-size: 14px;
    color: #EC0D83;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#previous,
#next,
#stop,
#pause,
#play,
#counter,
#speaker,
#fullscreen,
#helpbtn,
#toc,
#speakerbtn
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10%;
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
}


#previous {
    background-image:url('../skin/btn_prev.png');
}

#next {
    background-image:url('../skin/btn_next.png');
}

#stop {
    background-image:url('../skin/btn_stop.png');
    opacity: 0;
}

#pause {
    background-image:url('../skin/btn_pause.png');
}

#play {
    background-image:url('../skin/btn_play.png');
    opacity: 0;
}

#counter {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: #EC0D83;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
}


#helpbtn {
    background-image:url('../skin/btn_help.png');
}

#fullscreen {
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
}


#toc {
    background-image:url('../skin/btn_toc.png');
}

#speaker {
    background-image:url('../skin/btn_soundon.png');
}

#toctop {
    display: none;
}

#speakerbtn {
    background-image:url('../skin/btn_soundon.png');
}

#speakerbtn[off="true"] {
    background-image:url('../skin/btn_soundoff.png');
}

#closebtn {
    display: none;
}