body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cdeb8e+0,a5c956+100;Green+3D+%232 */
	background: #cdeb8e; /* Old browsers */
	background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cdeb8e 0%,#a5c956 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
.highlight {
	color:green;
}
.quiestion-field {

	position: absolute;
	background-color:  white;
	width: 450px ;
	height: 105px ;
	display: none;
	top:375px ;
	left: 20px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px ;
}
.well{
	position: fixed;
	top: 1em;
	right: 1em;
}
.answer-field{
	position: absolute;
	background-color:  white;
	width: 350px ;
	display: none;
	height: 125px ;
	border-radius: 10px ;
	top:375px ;
	left: 500px;
}
#btnSubmit {
	position: absolute;
	left: 255px;
	top: 85px;

}
.option-text {
	position: absolute;
	left:50px;
	top:30px;
}
#question-player {
 width:200px;
}
.pick-one {
	padding-top: 10px;
	padding-left: 10px;

}
.pick-many {
	padding-top: 10px;
	padding-left: 10px;
}
.insert {
	padding-top: 10px;
	padding-left: 10px;
}
.mr-background {
	width: 860px ;
	height: 500px ;
	position: relative;
	top: 100px ;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.75);
	background-repeat: no-repeat ;
	background-position: 0px 0px;
	margin:0 auto;


	transform: scale(1.2);
}
.mr1 {
	width: 110px ;
	height: 104px ;
	position: absolute;
	top: 0px ;
	left: 10px;
	background-repeat: no-repeat ;
	background-position: 0px 0px;

	display: none ;
}
.mr2 {

	width: 110px ;
	height: 104px ;
	position: absolute;
	top:100px ;
	left: 10px;
	background-repeat: no-repeat ;
	background-position: 0px 0px;

	display: none;
}
.mr3 {

	width: 110px ;
	height: 104px ;
	position: absolute;
	top:220px ;
	left: 10px;
	background-repeat: no-repeat ;
	background-position: 0px 0px;

	display: none;
}
.mr4 {

	width: 110px ;
	height: 104px ;
	position: relative;
	top:320px ;
	left: 10px;
	background-repeat: no-repeat ;
	background-position: 0px 0px;

	display: none;
}
.cake {

	width: 243px ;
	height: 243px ;
	position: absolute;
	top: 105px ;
	left: 485px ;
}
.myClock {
	position: absolute;
	z-index: -1;
	top: -10px ;
	left:490px ;
	transform: scale(0.6);


}
#btnStart {
	display: none;
}
.destription {
	padding: 30px 30px 30px 30px;
	left: 20px ;
	top: 20px;
	width: 760px;
	height: 270px;
	position: absolute;
	background-color: white;
	border-radius: 10px ;
}