.project-watcher-item-view{
    width: calc(100% - 20px);
    height: auto;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    list-style: none;
}

.project-watcher-item-view:hover{
    background-color: #0e90d2;
}

.project-watcher-item-view[selected="selected"]{
    background-color: #2ecc71;
}

.project-wather-list{

}