.preloader-view{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 7000;
    background-color: rgba(255,255,255,0.5);
}

.preloader-view .preloader-animation{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #7FA2B8;
    width: 55px;
    height: 55px;
    background-image: url('../../images/loaders/easyloader.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation-duration: .4s;
       -moz-animation-duration: .4s;
         -o-animation-duration: .4s;
            animation-duration: .4s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.preloader-view-preview{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 7000;
    background-color: rgba(255,255,255,0);
}

.preloader-view .preloader-preview-animation{
    background-image: url('../../images/loaders/easyloader.gif');
}