<div class="topbar">
            <div class="leftside"></div>
            <div id="logo"></div>
            <div class="middle">
                <div id="pagename"></div>
                </div>
            <div class="rightside"></div>
            <div id="toctop">
                <div class="toctop-text">
                    Spis treści
                </div>
                <div class="toc-content">
                    <ul></ul>
                </div>
            </div>

            <div id="speakerbtn">Wyłącz dźwięk</div>
            <div id="helpbtn">Pomoc</div>
            <div id="closebtn">Zamknij</div>
        </div>
        <div class="leftbar"></div>

		
        <div id="stage">
            <div id="page-load-progress">
                <figure>
                    <figcaption class="page-load-progressbar-wrapper">
                        <div class="page-load-progressbar">
                            <div class="page-load-progressbar-inner"></div>
                        </div>
                    </figcaption>
                    <figcaption class="page-load-progressbar-text">0%</figcaption>
                </figure>
            </div>

            <div id="stage-content"></div>
        </div>

        <div class="rightbar"></div>

        <div class="botbar">
            <div class="leftside"></div>
            <div class="middle">

                <div id="menu">
                    <div id="play"></div>
                    <div id="pause"></div>
                    <div id="stop"></div>
                    <div id="previous" tabindex="100" title="Poprzedni slajd"></div>
                    <div id="counter"></div>
                    <div id="next" tabindex="99" title="Następny slajd"></div>
                    <div id="progressbar"><div id="progressbar-inside"></div></div>
                    <div id="toc"></div>
                    <div id="status"></div>
                    <div id="zoom" class="zoom-in"></div>
                    <div id="fullscreen" class="fullscreen" tabindex="102" ></div>
                    <div id="sound-slider" style="display:none"></div>
                    <div id="zoom-slider" style="display:none"></div>
                </div>

            </div>
            <div class="rightside"></div>
        </div>