.border-container {
	height: 100%;
}

.border-window-overlay {
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #CCC;
	opacity: .3;
}

#component-border,
#component-shadow {
	overflow: auto;
	height: calc(100% - 71px);
}

.option-extend {
	display: none;
}

.show-option-extend {
	position: absolute;
	left: 15px;
	top: 0px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

.border-window-view {
	width: 270px;
	height: 240px;
}

.different-borders,
.different-borders-radius,
.different-shadows {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
}

.border-option-block {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.border-window-view input[type="range"] {
	vertical-align: middle;
}

.border-options {
	margin: 12px 0px;
}

.border-options-extend {
	padding: 5px 0px 5px 35px;
	box-sizing: border-box;
	position: relative;
}

.border-color-picker,
.shadow-color-picker {
	position: relative;
	width: 30px;
	height: 24px;
	/*background: red;*/
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #565656;
	margin: 0px 3px;
	cursor: pointer;
}

.border-window-view input[type="number"] {
	width: 40px;
}