.darkan-content .window{
    position: absolute !important;
    top: 0px;
    left: 0px;
    margin: auto;
    overflow: hidden;
    z-index: 5000;
    background-color: #ffffff;
    border: 3px solid #5082A5;
    border-radius: 3px;
    box-shadow: 3px 3px 12px #7FA1B7;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.darkan-content .window .content {
    padding: 10px;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.darkan-content .window[modal="true"]{
    position: absolute;
    width: 100%;
    height: 100%;
}

.darkan-content .window-view{
    max-height: 70%;
    max-width: 80%;
    background-color: white;
    /*height: inherit;*/
}

.darkan-content .modal-block {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 5000;
    background-color: rgba(0,0,0, .3);

}

.darkan-content .modal-block-transparent {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 5000;
    background-color: rgba(0,0,0, 0);

}

.darkan-content .window-content {
    width: 100%;
    height: calc(100% - 45px);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.darkan-content .window-content.with-buttons {
    height: calc(100% - 100px);
}

.darkan-content .window-close-button{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('images/sprites/popup.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
    -webkit-transform: translate3d(0px, 0px, 0px);
    z-index: 2;
}
.darkan-content .window-close-button:hover {
    background-position: 0px 50%;
}

.darkan-content .window-top-bar{
    width: 100%;
    height: 45px;
    line-height: 40px;
    background: #5082A5;
    color: #fff;
    text-indent: 20px;
    font-size: 18px;
    /*cursor: move;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 75px;
    box-sizing: border-box;
    -webkit-transform: translate3d(0px, 0px, 0px);
    z-index: -1;
}

.darkan-content .window-top-bar.window-minimized-top-bar {
    height: 20px;
    line-height: 8px;
    padding-right: 0px;
    cursor: move;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.darkan-content .popup-buttons-wrapper {
    height: 30px;
}

.darkan-content .popup-ok-button {
    float: left;
    width: 65%;
    background: #4BAE5C;
    color: #fff;
    border: none;
    height: 100%;
    cursor: pointer;
}

.darkan-content .popup-ok-button-2 {
    float: left;
    width: 100%;
    background: #4BAE5C;
    color: #fff;
    border: none;
    height: 100%;
    cursor: pointer;
}

.darkan-content .popup-cancel-button {
    float: left;
    width: 35%;
    background: #EE6E73;
    color: #fff;
    border: none;
    height: 100%;
    cursor: pointer;
}

.darkan-content .window-content.with-buttons {
    height: calc(100% - 75px);
}

.darkan-content .continue-view {
    max-width: 380px; 
}

.darkan-content .continue-view .window-content {
    font-size: 18px;
}

.darkan-content .feedback-view {
    background-color: none;
    border-radius: 10px;
    font-size: 16px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    background-color: transparent;
}

.darkan-content .feedback-view .window-content {
    padding: 20px 30px 30px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    background-color: transparent;
}

.darkan-content .feedback-view .window-top-bar {
    height: 25px;
    line-height: 25px;
    -webkit-transform: translate3d(0px, 0px, 0px);
    background-color: transparent;
}

.darkan-content .toc-view {
    max-width: 60%;
    max-height: 60%;
    background-color: #fff;
}
.darkan-content .toc-view .window-top-bar {
    color: #000;
    height: 45px;
    line-height: 40px;
}
.darkan-content .toc-view .window-close-button{
    background-position: 0px -40px;
}
.darkan-content .toc-view .window-close-button:hover{
    background-position: 0px -20px;
}

.darkan-content .toc-view .window-content {
    overflow: hidden;
}

.darkan-content .toc-list {
    list-style-type: none;
}

.darkan-content .toc-item {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  box-sizing: border-box;
    border-bottom: 1px solid #E7E7E7;
}
.darkan-content .toc-item:last-child {
    border-bottom: none;
}
.darkan-content .toc-item:hover {
    background-color: #D4E4EF;
}
.darkan-content .toc-order {
    color: #777;
    font-size: 12px;
    margin-right: 5px;
}

.darkan-content .proggress-bar-window{
    width: 100%;
    max-width: 100%;
    height: 100px;
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    box-shadow: none;
    border: none;
    background: transparent;
}

.darkan-content .proggress-bar-window .window-content{
    width: 80%;
    height: 100px;
    padding: 0;
    margin: 0 auto;
}

.darkan-content .proggress-bar-window .page-load-progressbar-text{
    text-align: center;
}


.darkan-content .proggress-bar-window .page-load-progress figure {
    vertical-align: middle;
}

.darkan-content .proggress-bar-window .page-load-progress figcaption {
/*  font-size: 20px;
  line-height: 45px;*/

}

.darkan-content .proggress-bar-window .page-load-progressbar-text {
  background-image: url('images/loaders/easyloader.gif');
  width: 40px;
  height: 40px;
  background-position: 50% 50%;
    background-repeat: no-repeat;
}

.darkan-content .proggress-bar-window .page-load-progressbar-wrapper {

}

.darkan-content .proggress-bar-window .page-load-progressbar {
    width: 90%;
    height: 20px;
    border: 2px solid #7FA1B7;
    margin: 0 auto;
    border-radius: 5px;
}

.darkan-content .proggress-bar-window .page-load-progressbar-inner {
    width: 0%;
    background: #67ABD6;
    height: 100%;
    -webkit-transition: width 100ms ease-in-out;
    -moz-transition: width 100ms ease-in-out;
    -o-transition: width 100ms ease-in-out;
    transition: width 100ms ease-in-out;
}



.loader{
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    user-select: none;
    box-sizing: border-box;
}
.loader-bg
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid rgba(80, 130, 165, 0.1);
    box-sizing: border-box;
  background-image: url('images/loaders/easyloader.gif');
  background-position: 50% 50%;
    background-repeat: no-repeat;
}
.spiner-holder-one
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    box-sizing: border-box;
}
.spiner-holder-two
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    box-sizing: border-box;
}
.loader-spiner
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 5px solid rgba(80, 130, 165, 0.3);
    box-sizing: border-box;
}  
  .animate-0-25-a
{
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}
.animate-0-25-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-25-50-a
{
    transform: rotate(180deg);
    transform-origin: 100% 100%;
}
.animate-25-50-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.animate-50-75-a
{
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}
.animate-50-75-b
{
    transform: rotate(-90deg);
    transform-origin:100% 100%;
}
.animate-75-100-a
{
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}
.animate-75-100-b
{
    transform: rotate(-90deg);
    transform-origin: 100% 100%;
}
.text
{
    text-align: center;
    padding-top:32%;
    font-size: 12px;     
    color: rgba(80, 130, 165, 0.3);
}