#app{
	background-color: #ffff00;
    width: 100%;
    height: 200px;
    margin: 5px;
}

#modal{
    background-color: #00C000;
    width: 100%;
    height: 200px;
    margin: 5px;
}

#list{
	background-color: red;
    width: 100%;
    height: 200px;
    margin: 5px;
}

.person-item-view{
	background-color: #000000;
    width: auto;
    height: auto;
    margin: 5px;
    color: #ffffff;
    border: 1px solid white;
}