.popup{

    position: fixed;
    width: auto;
    height: auto;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;

    z-index: 6000;
}

.popup .window-content {
    overflow: hidden;
}

.popup-wrapper{
    background-color: #ffae00;
    border: 1px solid #000000;
}

.popup-background{

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0, .5);
    
}

.delete-project-popup {

    width: 345px;
    height: 180px;
}


.delete-folder-popup {

    width: 345px;
    height: 220px;
}
