<div class="topbar">
            <div class="leftside"></div>
            <div id="logo"></div>
            <div class="middle">
                <div id="pagename"></div>
                </div>
            <div class="rightside"></div>
            <div id="toctop">
            </div>
        </div>
        <div class="leftbar"></div>

		
        <div id="stage">
            <div id="page-load-progress">
                <figure>
                    <figcaption class="page-load-progressbar-wrapper">
                        <div class="page-load-progressbar">
                            <div class="page-load-progressbar-inner"></div>
                        </div>
                    </figcaption>
                    <figcaption class="page-load-progressbar-text">0%</figcaption>
                </figure>
            </div>

            <div id="stage-content"></div>
        </div>

        <div class="rightbar"></div>

        <div class="botbar">
            <div class="leftside"></div>
            <div class="middle">

                <div id="menu">
                    <button id="previous" tabindex="100" title="Poprzedni slajd"><div id="previousEcho"></div></button>
                    <button id="next" tabindex="99" title="Następny slajd"><div id="nextEcho"></div></button>
                </div>

            </div>
            <div class="rightside"></div>
        </div>