.window-download-zbit-view {
  width: 400px;
  height: 200px;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: white;
}

.download-zbit-button{
	
}

.download-project-description{

}