.window-portal-options-view {    
	width: 70%;
	height: 70%;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	min-width: 500px;
	background-color: white;
}

.window-portal-options-view .window-body {
}
.window-portal-options-view .window-close-button {
    right: 20px;
}

.window-portal-options-view .preview-button {
    position: relative;
    top: -7px;
    padding: 5px 30px !important;
    display: inline-block;
    margin-left: 30px;
}