.window-images-view {
	width: 80%;
	height: 70%;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.drop-image-area {
	position: relative;
	width: 100%;
	height: 100%;
	border: 3px dashed #B0B0B0;
	box-sizing: border-box;
}

.drop-image-area .loaded-dropzone{
	border: none;
}

.drop-image-area .upload {
	position: relative;
	top: 50%;
	left: 50%;
	width: 160px;
	height: 30px;
	margin-left: -80px;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #999;
	background: #5082A5;
	cursor: pointer;
	color: #fff;
}

.drop-image-area .extra-info {
	position: absolute;
	top: 50%;
	width: 280px;
	left: calc(50% - 60px);
	height: 30px;
	margin-left: -80px;
	margin-top: 35px;
	text-align: center;
	line-height: 20px;
	font-style: italic;
	color: #8a8a8a;
}

.image-window-text-input {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px;
	border-radius: 3px;
	border: 2px solid #5082A5;
	text-align: center;
}

.image-window-search-results {
	width: 100%;
	margin-top: 20px;
	height: calc(100% - 65px);
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
}

.image-window-search-results > .our-integrations-images {
	margin-top: 20px;
}

.image-window-link-wrapper {
	vertical-align: middle;
	width: 50%;
	margin: 0 auto;
	top: calc(50% - 80px);
	position: relative;
}

.upload-from-link {
	border: none;
	padding: 10px 25px;
	margin-top: 20px;
	width: 100%;
	border-radius: 5px;
}

.imagesearch-title {
	font-size: 14px;
	font-style: italic;
}