.context-menu,
.context-menu-second-lvl
{
    position: absolute !important;
    height: auto;
    margin: 0;
    background: #fff;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    z-index: 9000;
    box-sizing: border-box;
    border: 3px solid #5082A5;
    padding: 5px;
}

/*
.context-menu ul {
    list-style: none;
    margin: 0;
}*/

.context-menu li.separator {
    padding: 1px 0px;
    margin: 1px 0px;
    border-top: 1px solid #ccc;
    height: 0px;
    background: none !important;
}
.context-menu li.separator li{
    display: none;
}


.context-menu li{
    position: relative;
    list-style: none;
    width: 100%;
    font-size: 12px;
    height: 22px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.context-menu li[disabled="disabled"]{
    opacity: 0.6;
}
.context-menu li a { 
    color: #333;
}

.context-menu li:hover {
    background: #5082A5;
}
.context-menu li:hover > a,
.context-menu li.extend:hover:after
{
    color: #fff;
}


.context-menu li.extend li {
    padding-right: 10px;
}

.context-menu li.extend:after {
    content: '\25b6';
    position: absolute;
    right: 2px;
    top: 0px;
    color: #5082A5;
}

.context-menu li.extend:hover > ul.context-menu-second-lvl {
    /*display: block;*/
}

.context-menu ul.context-menu-second-lvl {
    display: none;
    position: absolute;
    left: 100%;
    top: -10px;
}