.swf-component:hover button.upload {
    display: block;
}

.swf-component button.upload {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: auto;
    width: 60px;
    height: 50px;
    background-color: #000;
    background-size: contain;
    background-image: url('../../../../images/uploadicon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: .6;
    border: 1px dashed #fff;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.swf-component button.upload:hover {
    background-color: #102242;
}

.swf-component-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swf-component-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swf-component-inner .img-wrapper {
    width: 100%;
    height: 100%;
}
.swf-component-inner .img-wrapper img {
    width: 100%;
    height: 100%;
}

.swf-component-inner .swf-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}