body{
	background: #3e4f6a;
    background: -webkit-linear-gradient(top, #7FA2B8, #618DA9);
    background: -moz-linear-gradient(top, #7FA2B8, #618DA9);
    background: -o-linear-gradient(top, #7FA2B8, #618DA9);
    background: -ms-linear-gradient(top, #7FA2B8, #618DA9);
    background: linear-gradient(top, #7FA2B8, #618DA9);
    border-radius: 5px 5px 0 0;
}

.container-upload-file{
	position: absolute;
	width: 50%;
	height: 100px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
}