/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
    margin:10px;
}


#skin {
    position: relative;
    width: 882px;
    height: 543px;
    background-image:url('../skin/skin.png');
    margin: auto;
    bottom: 0px;
}

#stage {
    position: absolute; 
    top: 38px;
    left: 11px;
    z-index: 1;
    height: 500px;
}

#pagename {
    position: absolute;
    top: 3px;
    left: 11px;
    width: 861px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#menu {
    position: relative;
    width: 622px;
    height: 80px;
    background-image:url('../skin/menu.png');
    top: 500px;
    left: 130px;
    z-index: 2;
}

#buttons {
    position: relative;
    width: 584px;
    height: 60px;
}
#buttons div {
    cursor: pointer;
}

#previous {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: 0px 0px;
    left: 236px;
    top: 20px;
    cursor:pointer;
}

#next {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: 0px -30px;
    right: 197px;
    top: 20px;
    cursor:pointer;
}

#stop {
    position: absolute;
    left: 42px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -90px 0px;
}

#pause {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -60px -30px;
    left: 104px;
    top: 20px;
}

#play {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -60px 0px;
    left: 165px;
    top: 20px;
}

#counter {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 289px;
    top: 27px;
    font-family: sans-serif;
    font-size: 16;
    color: #343434;
    text-align: center;
}


#zoom {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -5px -65px;
    right: 66px;
    top: 25px;
    cursor: pointer;
}

#fullscreen {
    display: none;
    position: absolute;
    width: 35px;
    height: 35px;
    right: 160px;
    top: 11px;
    cursor: pointer;
    border: 0px;
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#toc {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -30px -30px;
    right: 6px;
    top: 20px;
    cursor: pointer;
}


#status {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image:url('../skin/sprite.png');
    background-position: -30px 0px;
    right: 128px;
    top: 20px;
    cursor: pointer;
}
    

#page-wrapper {
    position: relative;
    width: 860px;
    margin: 0 auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#help {
    position: absolute;
    width: 74px;
    height: 50px;
    right: 100px;
    top: -25px;
    background-image:url('../skin/buttons/help.png');
}

#speaker {
    position: absolute;
    width: 30px;
    height: 20px;
    right: 180px;
    top: 25px;
    background-image:url('../skin/buttons/speakerON.png');
}

.passedElement{
    background: #62c462;
    border: 3px solid #62c462;
    color: #62c462;
    width: 500px;
}


#dialog-overlay {
    /* set it to fill the whil screen */
    width:100%; 
    height:100%;

    /* transparency for different browsers */
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    -khtml-opacity: 0.5; 
    opacity: 0.5; 
    background:#000; 

    /* make sure it appear behind the dialog box but above everything else */
    position:absolute; 
    top:0; left:0; 
    z-index:3000; 

    /* hide it by default */
    display:none;
}


#dialog-box {
    /* css3 drop shadow */
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    /* css3 border radius */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    background:#eee;
    /* styling of the dialog box, i have a fixed dimension for this demo */ 
    width:328px; 

    /* make sure it has the highest z-index */
    position:absolute; 
    z-index:5000; 

    /* hide it by default */
    display:none;
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left; 
	padding:10px; 
	margin:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}

a.button {
    /* styles for button */
    margin:10px auto 0 auto;
    text-align:center;
    background-color: #00F;
    display: block;
    width:50px;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;

    /* css3 implementation :) */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

a.button:hover {
    background-color: #149bdf;	
}

/* extra styling */
#dialog-box .dialog-content p {
    font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
    margin:10px 0 10px 20px; 
    padding:0; 
    height:50px;
}
#help-screen{
    width: 600px;
    height: 350px;
}
#toc-screen{
/*    display: none;
    width: 600px;
    height: 350px;*/
}

#tog-screen-scroll {
    /*display: none;*/
    overflow-y: scroll;
    overflow-x: hidden;
    height: 262px;
    width: 580px;
}

.toc-gotoscreen {
    /*display: none;*/
    width: 540px;
    height: 45px;
    margin: 2px;
    line-height: 45px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.toc-gotoscreen:active {
    border: 1px solid red;
}

.toc-gotoscreen:hover {
    background-color: rgb(228, 228, 228);
}

#status-screen-scroll {
    display: none;
    overflow-y: auto;

    height: 262px;
    width: 580px;
}

.status-gotoscreen {
    display: none;
    width: 540px;
    height: 45px;
    margin: 2px;
    line-height: 45px;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.status-gotoscreen:active {
    border: 1px solid red;
}

.status-gotoscreen:hover {
    background-color: rgb(228, 228, 228);
}