.projects-list div{
	position: relative;
}

.projects-list-item{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 250px;
	margin: 5px;
}

.projects-list-plus-button{
	position: relative;
	display: inline-block;
	width: 200px;
	height: 250px;
	background-color: #FFF;
	margin: 1px;
	border: 1px solid #ccc;
	cursor: pointer;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 100px;
    line-height: 200px;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
}

.projects-list-item[projectselected="true"]{
	/*border: 1px solid red;*/
}

.project-item {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
    max-width: 250px;	
}


.project-item .name {
    margin-left: 5px;
}

.project {
    padding: 0px;
}

.project:hover .thumbnail {
	background-color: #F3F2F2;
}

.buttons-container button {
	margin: 2px 20px;
    padding: 10px 30px 10px 10px;
}

.buttons-container button i {
    margin: 0px 10px;
    font-size: 17px;
}

.projects-list-item .image-container {
	position: relative;
    width: 190px;
    height: 130px;
    overflow: hidden;
}

.projectlist-item .image-container .editoverlay-wrap
{
    position: absolute;
    left: 0;
    top: 0;
	cursor: pointer;
	display: table;
    width: 100%;
    height: 100%;
    text-align: center;
     visibility: hidden; 
}

.projectlist-item .image-container .editoverlay {
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
.projectlist-item .image-container:hover .editoverlay-wrap {
	visibility: visible;
}

.projectlist-hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.projectlist-item .thumbnail {
	padding: 0px;
}

.project-block-extras {
	position: absolute;
	right: 0px;
	background: #fff;
	color: #333;
	padding: 4px 10px;
	border-style: solid;
	border-color: #ccc;
}


.project-block-extras.template-info {
	bottom: 0px;
	border-top-left-radius: 3px;
	border-width: 1px 0px 0px 1px;

}

.project-block-extras.shared-info {
	visibility: hidden;
	top: 0px;
    width: 105px;
    border-bottom-left-radius: 3px;
	border-width: 0px 0px 1px 1px;
}

.projectlist-item[ptype="userSharedProjects"] .shared-info{
	visibility: visible;
}
.noshares {
	text-align: center;
}
.noprojects-info {
    text-align: center;
    margin: 40px;
    font-size: 16px;
    color: #337AB7;
}
.noprojects-info span:hover{
	text-decoration: underline;
    cursor: pointer;
}

.margin150 {
	margin: 15px 0px;
}

.download-published-project-link{
/*	text-decoration: underline;
    cursor: pointer;
	background-color: #08FC3A;
	border: 1px solid #FFF;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: center;
	vertical-align: middle;
	padding: 5px;*/
}

/* unvisited link */
.download-published-project-link:link {
    color: #000;
}

/* visited link */
.download-published-project-link:visited {
    color: #000;
}

/* mouse over link */
.download-published-project-link:hover {
    color: #000;
}

/* selected link */
.download-published-project-link:active {
    color: #000;
}
