    <link rel="stylesheet" href="<?= asset('/js/editors/standard/libs/ckeditor/contents.css') ?>" />


	<link rel="stylesheet" href="<?= asset('/js/editors/standard/css/main_layout.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/css/style.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/utils/log.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- PLUGINS STYLES CSS -->

	<link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/css/plugins/simpletext-fancy-styles.css') ?>" />
    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/css/plugins/question-multi-templates.css') ?>" />
    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/css/plugins/question-dnd-templates.css') ?>" />
    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/css/plugins/image-templates.css') ?>" />
    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/css/plugins/template-styles.css') ?>" />

    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/js/libs/perfect-scrollbar/css/perfect-scrollbar.min.css') ?>" />


    <link rel="stylesheet" href="<?= asset('/js/editors/standard/content_template/js/libs/jplayer/skin/blue.monday/css/jplayer.blue.monday.css') ?>" />

    <link rel="stylesheet" href="<?= asset('/js/editors/standard/css/animations/animate.css') ?>" />
    <link rel="stylesheet" href="<?= asset('/js/editors/standard/css/animations/animations.css') ?>" />


	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/preloader/preloader.css') ?>?r=<?php echo config('app.version') ?>" />

	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/components/components.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/components/views/image/image_component.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/components/views/swf/swf_component.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/components/views/video/video_component.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/selector/selector.css') ?>?r=<?php echo config('app.version') ?>" />

	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/menus/top_menu/topmenu.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/menus/left_menu/leftmenu.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/menus/right_menu/rightmenu.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/menus/bottom_menu/bottommenu.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/scene/scene.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/timeline/timeline.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/pages/pagelist.css') ?>?r=<?php echo config('app.version') ?>" />


	

	<!-- HISTORY CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/history/history.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- WATCHER CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/watcher/project_watcher.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- POPUPS CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/popups/popups.css') ?>?r=<?php echo config('app.version') ?>" />


	<!-- WINDOWS CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/window/windows.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/modal/window_modal.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/animation/animation_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/baizer/baizer_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/imageswindow/imageswindows.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/testdrivewindow/testdrivewindows.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/timerwindow/timerwindows.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/videowindow/videowindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/exportwindow/exportwindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/importwindow/importwindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/newpage/newpagewindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/newpage/starting_newpagewindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/newpage/newpagesection.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/publish/publishwindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/mailings/mailingswindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/library/librarywindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/projectoptions/projectoptions.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/sharewindow/sharewindow.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/preview/preview.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/photopea/photopea.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/crop/crop_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/border/border_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/projectversionwindow/projectversion.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/functionnotavailable/functionnotavailable.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/paste_components/paste_components.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/sound_manager/sound_manager.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/quiz_fillinblanks_options/quiz_fillinblanks_options.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/editors/editor_container_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/add_multi_components/add_multi_components_window.css') ?>?r=<?php echo config('app.version') ?>" />
	
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/color_picker/color_picker.css') ?>?r=<?php echo config('app.version') ?>" />

	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/add_new_page/add_new_page_progress_window.css') ?>?r=<?php echo config('app.version') ?>" />
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/pdf/pdf_list.css') ?>?r=<?php echo config('app.version') ?>" />

	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/projectoptions/page_draw/drawpages.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- CONTEXT MENU CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/context_menu/context_menu.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- EDITORS CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/editors/editors.css') ?>?r=<?php echo config('app.version') ?>" />


 	<!-- DATA PICKER CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/data_picker/data_picker.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- TRIGGER CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/windows/trigger/trigger.css') ?>?r=<?php echo config('app.version') ?>" />

	<!-- PROJECTS LIST CSS -->
	<link rel="stylesheet" href="<?= asset('/js/editors/standard/modules/projects_list/projects_list.css') ?>?r=<?php echo config('app.version') ?>" />