/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
*/

root { 
display: block;
margin:10px;
}

.topbar,
.botbar
{
    clear: both;
    overflow: hidden;
}
.topbar div,
.botbar div
{
    float: left;
    vertical-align: top;
}
.topbar .leftside,
.botbar .leftside
{
    width: 3px;
    height: 88px;
    background-image:url('../skin/bar_left.png');
}
.topbar .middle,
.botbar .middle
{
    width: calc(100% - 6px);
    height: 88px;
    background-image:url('../skin/bar_middle.png');
    background-repeat: repeat-x;
}
.topbar .rightside,
.botbar .rightside
{
    
    width: 3px;
    height: 88px;
    background-image:url('../skin/bar_right.png');
}

.botbar div,
.botbar .leftside,
.botbar .middle,
.botbar .rightside
{
    height: 32px;
    background-image:url();
}

.botbar {
    position: relative;
    background-color: #fff;
}

.leftbar,
.rightbar
{
    position: relative;
    top: -4px;
    float: left;
    width: 0px;
    background-repeat: repeat-y;
}

.leftbar {
}
.rightbar {
}

#skin {
    position: relative;
/*    width: 930px;
    height: 610px;*/
    margin: auto;
    top: 10px;
}
#stage {
    float: left;
    position: relative; 
    z-index: 1;
    top: 0px;
    border: 1px solid #ECECEC !important;
}

#menu {
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 2;
    margin-top: 2px;
}

#pagename {
    display: none;
    position: absolute;
    top: 11px;
    left: 30px;
    width: 785px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    overflow: hidden;
    font-size: 14px;
    color: #EC0D83;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#previous,
#next,
#stop,
#pause,
#play,
#counter,
#speaker,
#fullscreen,
#zoom,
#toc
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10%;
    height: 40px;
    cursor: pointer;
}


#previous {
    width: 104px;
    height: 29px;
    position: absolute;
    left: -3px;
    top: 0px;
    background-image:url('../skin/btn_prev.png');
}

#toctop {
  padding-top: 10px;
  position: absolute;
  right: 362px;
  top: 46px;
  height: 40px;
  width: 270px;
  text-align: center;
  /* font-size: 18px; */
  /* font-weight: bold; */
  font-family: Arial;
  /* letter-spacing: -1px; */
  /* cursor: pointer; */
  border-left: 1px solid #fff;
}

.toctop-text {
  color: #fff;
  width: 100%;
  background: #8EBCE5;
  text-align: left;
  text-indent: 3px;
  padding: 5px;
  box-sizing: border-box;
  top: -39px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
#toctop:hover .toc-content {
    display: block;
}
.toc-content {
    display: none;
  position: absolute;
  top: -5px;
  left: 0px;
  background: #2C60A2;
  width: 100%;
  text-align: left;
  text-indent: 15px;
  color: #fff;
  z-index: 10000;
    max-height: 337px;
  overflow: auto;
}
.toc-content ul {
      list-style-type: none;
}
.toc-content ul li {
      padding: 5px 0px;
      cursor: pointer;
}

.toc-content ul li:hover {
      background-color: #8EBCE5;
}

#closebtn {
    position: absolute;
    right: 0px;
    top:46px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: #82B0DA;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: -1px;
    cursor: pointer;
    line-height: 40px;
    border-left: 1px solid #fff;
}
#closebtn:hover {
    color: #fff;
}

#helpbtn {
    position: absolute;
    right: 100px;
    top:46px;
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: #82B0DA;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: -1px;
    cursor: pointer;
    line-height: 40px;
    border-left: 1px solid #fff;
}
#helpbtn:hover {
    color: #fff;
}

#speakerbtn {
  position: absolute;
  padding-top: 10px;
  right: 200px;
  top: 46px;
  height: 40px;
  width: 159px;
  text-align: center;
  font-size: 16px;
  color: #82B0DA;
  font-weight: bold;
  font-family: Arial;
  letter-spacing: -1px;
  cursor: pointer;
  border-left: 1px solid #fff;
}
#speakerbtn:hover {
    color: #fff;
}

#next {
    width: 104px;
    height: 29px;
    position: absolute;
    right: -3px;
    top: 0px;
    background-image:url('../skin/btn_next.png');
}
#next:hover {
    background-image:url('../skin/btn_next_hover.png');
}
#previous:hover {
    background-image:url('../skin/btn_prev_hover.png');
}

#stop {
    display: none;
    background-image:url('../skin/btn_stop.png');
}

#pause {
    display: none;
    background-image:url('../skin/btn_pause.png');
}

#play {
    display: none;
    background-image:url('../skin/btn_play.png');
}

#counter {
    right: 120px;
    position: absolute;
    text-align: right;
    font-family: sans-serif;
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    white-space: nowrap;
}

#progressbar {
    width: 580px;
    height: 9px;
    background: #fff;
    left: 110px;
    top: 9px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #054E93;
}

#progressbar-inside {
    position: relative;
    top: 0px;
    left: 0px;
    width: 0%;
    background: #004CC2;
    height: 100%;
    border-radius: 10px;
}

#zoom {
    display: none;
    background-image:url('../skin/btn_help.png');
}

#fullscreen {
    display: none;
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
}


#toc {
    display: none;
    background-image:url('../skin/btn_toc.png');
}

/*#speaker {
    display: none;
    background-image:url('../skin/buttons/speakerON.png');
}*/

#logo {
    width: 172px;
    height: 42px;
    position: absolute;
    top: 22px;
    left: 36px;
    background-image:url('../skin/logo.png');
}