#menu-right {
	right: 0px;
	top: 120px;
	height: calc(100% - 120px);
	position: fixed !important;
	background: #fff !important;
	width: 257px;
	border-left: 1px solid #ccc;
	/*overflow-y: hidden;*/
/*    -webkit-transition: width 200ms ease-in-out;
    -moz-transition: width 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;*/
}

#menu-right-tabs {
	
}

#menu-right-tabs > ul {
	padding: 5px;
}

#opened-project-container, 
#other-projects-container
{
	height: calc(100% - 74px);
	padding: 3px 5px;
}

.pagelist-switcher {
	position: absolute;
	right: 4px;
	top: 6px;
	line-height: 30px;
	text-align: center;
	width: 28px;
	height: 25px;
	cursor: pointer;
	border-radius: 3px;
}

.pagelist-switcher[listtype="list"] {
	right: 41px;
	background: url('../../../images/sprites/rightmenu.png') no-repeat 1px 6px;
}

.pagelist-switcher[listtype="thumbs"] {
	right: 10px;
	background: url('../../../images/sprites/rightmenu.png') no-repeat 2px -27px;
}

.pagelist-switcher:hover {
	background-color: #C6DFEF;
}

.pagelist-buttons-wrapper {
	position: relative;
	width: 242px;
	height: 30px;
	z-index: 10;
	background: #fff;
}

.pagelist-button {
	cursor: pointer;
	float: left;
	width: 30px;
	height: 26px;
	background: url('../../../images/sprites/rightmenu.png') no-repeat;
	border-radius: 3px;
	border: none;
}

.pagelist-button:hover {
	background-color: #C6DFEF;
}

.select-all-pages {
	position: absolute;
	background-position: 2px -308px;
	right: 5px;
}

.selected-all-pages {
	background-position: 2px -348px;
}

.visible-pages {
	background-position: 2px -59px;
}

.new-page {
	background-position: 3px -168px;
}

.copy-page {
	background-position: 2px -205px;
}

.change-titles-pages {
	background-position: 2px -277px;
}

.del-pages {
	background-position: 2px -241px;
}

.second-pages-list-copy-page {
	background-position: 2px -205px;
}

.second-pages-list-open-page {
	background-position: 2px -563px;
}

.warning-header {
	font-size: 14px;
}
.pages-to-delete-number {
	text-align: center;
	font-size: 23px;
}

.menu-right-toggle {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 15;
}

.toggle-icon {
	top: 0px;
	height: 0px;
	height: 26px;
	width: 18px;
	line-height: 26px;
	position: absolute;
	cursor: pointer;
	color: #241414;
	background: #D4E4EF;
	text-align: center;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: 100px;
}

#menu-right-tabs > ul.ui-tabs-nav {
	margin-left: 23px;
}

.user-div {
	min-width: 100px;
	max-width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-selected-by .tooltip {
	min-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}