.window{
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    z-index: 5000;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #7FA1B7;
}

.window .content {
    padding: 10px;
}

.window[modal="true"]{
    position: absolute;
    width: 100%;
    height: 100%;
}

.window-view{

    background-color: white;
    border: 1px solid black;
}

.modal-block {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 5000;
    background-color: rgba(0,0,0, .3);

}

.window-wrapper{
/*    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
*/
}

.window-content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100% - 45px);
    overflow: auto;
}

.window-content.with-buttons {
    height: calc(100% - 75px);
}

.window-content.without-topbar {
    height: 100%;
}

.window-close-button{
    position: absolute;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../../../../../js/editors/standard/images/sprites/popup.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.window-close-button.black-button {
    background-position: 0px -40px;
}
.window-close-button.black-button:hover {
    background-position: 0px -20px;
}
.window-close-button:hover {
    background-position: 0px -20px;
}

.window-top-bar{
    width: 100%;
    height: 45px;
    line-height: 40px;
    background: #5082A5;
    color: #fff;
    text-indent: 20px;
    font-size: 18px;
    /*cursor: move;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 35px;
    box-sizing: border-box;
}

.window-top-bar.window-minimized-top-bar {
    height: 20px;
    line-height: 8px;
    padding-right: 0px;
    cursor: move;
}

.popup-buttons-wrapper {
  height: 30px;
}

.window-inner-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    
}

.window-inner-modal-text {
    position: relative;
    width: 100%;
    top: 40%;
    font-size: 20px;
    text-align: center;
    color: #fff;
}