.color-picker-view {
	width: 100%;
	height: 100%;
}

.gradient-container {
	width: 170px;
	height: 30px;
    background-color: #a45dff;
}

.picker-container {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.text-color-picker-container{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.change-picker-type{
    cursor: pointer;
}