.animation-window {

    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 5000;
}

.animation-wrapper{
    width: 600px;
    background-color: #ffffff;

}

.animation-window .animation-block {
    padding: 2px;
    cursor: pointer;
    float: left;
    width: 62px;
    height: 35px;
    line-height: 10px;
    border: 1px solid #67ABD6;
    margin: 5px;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    background: #5082A5;
    color: #fff;
    font-size: 11px;
    cursor: pointer;
}


.animation-window .animation-block.animation-block-none {
    position: absolute;
    right: 0px;
    top: 46px;
    font-size: 18px;
    line-height: 26px;
    width: 100px; 
    background: #A55757;
}
.animation-window .animation-block.animation-block-none:hover,
.animation-window .animation-block.animation-block-none.activeAnimation
{
    background: #D01C1C;
}

.animation-window .animation-block:hover {
    background: #67ABD6;
}

.animation-window .animation-block.activeAnimation {
    background: #67ABD6;
}

.animation-window fieldset {
    border: 1px solid #ccc;
    margin: 4px;
    padding-left: 5px;
}
.animation-window legend {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
}

.animation-window .tooltip {
    overflow: hidden;
    opacity: 1 !important;
}

.animation-window .animation-preview {
    width: 70px;
    height: 70px;
    background-image: url(../../../images/logo_big.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin: 20px;
}

.animation-window .animation-time-wrapper {
    padding: 13px 0px;
    margin: 6px;
    text-align: center;
    font-size: 14px;
}

.animation-window .animation-time {
    width: 50px;
}