.image-component:hover button.upload {
    display: block;
}

.img-wrapper{
    width: 100%;
    height: 100%;
}

.image-component button.upload {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: auto;
    width: 60px;
    height: 50px;
    background-color: #000;
    background-size: contain;
    background-image: url('../../../../images/uploadicon.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: .6;
    border: 1px dashed #fff;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.image-component button.upload:hover {
    background-color: #102242;
}

.image-component-inner .img-wrapper {
    width: 100%;
    height: 100%;
}
.image-component-inner .img-wrapper img {
    width: 100%;
    height: 100%;
}