/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
display: block;
margin:10px;
}

.topbar,
.botbar
{
    clear: both;
    overflow: hidden;
}
.topbar div,
.botbar div
{
    float: left;
    vertical-align: top;
}
.topbar .leftside,
.botbar .leftside
{
    width: 15px;
    height: 20px;
    background-color: #E9C52F;
}
.topbar .middle,
.botbar .middle
{
    width: calc(100% - 30px);
    height: 20px;
    background-color: #E9C52F;
}
.topbar .rightside,
.botbar .rightside
{
    
    width: 15px;
    height: 20px;
    background-color: #E9C52F;
}

.botbar .rightside,
.botbar .middle,
.botbar .leftside
{
    height: 60px;
}

.botbar {
    position: relative;
    top: 0px;
}

.leftbar,
.rightbar
{
    position: relative;
    top: 0px;
    float: left;
    width: 15px;
    height: calc(100% - 78px);
    background-color: #E9C52F;
}


#skin {
    position: relative;
/*    width: 930px;
    height: 610px;*/
    margin: auto;
    top: 0px;
}
#stage {
    float: left;
    position: relative; 
    z-index: 1;
    top: 0px;
}

#menu {
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 2;
    margin-top: 7px;
}

#pagename {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 785px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    overflow: hidden;
    font-size: 14px;
    color: #EC0D83;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#previous,
#next,
#stop,
#pause,
#play,
#counter,
#speaker,
#fullscreen,
#zoom,
#toc,
#zoom-slider
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 20%;
    height: 40px;
    cursor: pointer;
    background-size: contain;
}


#previous {
    background-image:url('../skin/btn_prev.png');
}

#next {
    background-image:url('../skin/btn_next.png');
}

#counter {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 18px;
    color: #000;
    text-align: center;
}


#zoom {
    background-image:url('../skin/btn_help.png');
}

#fullscreen {
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
}


#toc {
    background-image:url('../skin/btn_toc.png');
}

#speaker {
    background-image:url('../skin/buttons/speakerON.png');
}

#toctop {
    display: none;
}

#speakerbtn {
    display: none;
}
#helpbtn {
    display: none;
}
#closebtn {
    display: none;
}


/*#zoom-slider,
#sound-slider
{
position: relative;
  width: 95px;
  height: 15px;
  left: 20px;
  top: 12px;
  cursor: pointer;
  border: 0px;
  opacity: 1 !important;
  text-indent: -90px;
}
#zoom-slider:after,
#sound-slider:after 
{
  content: ' ';
  position: absolute;
  width: 178px;
  height: 41px;
  background-image: url('../skin/zoom.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: -10px;
  top: -12px;
  cursor: pointer;
  border: 0px;
}

#sound-slider {
    margin-right: 93px;
    margin-left: 18px;
}

#sound-slider:after {
  background-image: url('../skin/volume.png');
  left: -40px;
}


#zoom-slider .ui-slider-handle, 
#sound-slider .ui-slider-handle 
{
    position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../skin/slider_item.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  z-index:1;
}*/