body{
	

}

#main-logo {
	cursor: pointer;
	position: fixed;
	top: 30px;
	width: 100px;
	height: 66px;
	z-index: 1101;
	text-align: center;
}

#main-logo .logo {
	background: url('../images/logobeta.png') no-repeat;
	width: 65px;
	height: 65px;
	margin: 0 auto;
}

#editor{
	position: absolute;
	width: 100%;
	height: 100px;
	border: 1px solid white;
	bottom: 0px;
	background-color: black;
}

.element-disabled {
	opacity: .4;
}