.drawpages-header {
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
	background-color: #5082A5;
	color: #fff;
	border-radius: 4px;
}

.drawpages-body {
	height: 100%;
}

.drawpages-pages-list-wrapper {
	width: 49%;
	float: left;
	margin-top: 10px;
	border: 1px solid #67ABD6;
	height: calc(100% - 70px);
	position: relative;
}

.drawpages-main-options {

}

.drawpages-pages-list {
	margin: 0px;
	padding: 5px;
	list-style-type: none;
	overflow: auto;
	height: calc(100% - 63px);
}

.drawpages-body-header {
	text-align: center;
	font-size: 15px;
	background-color: #67ABD6;
	height: 25px;
	line-height: 25px;
	color: #fff;
}

.drawpages-singlepage-wrapper {
	position: relative;
	width: 103px;
	height: 80px;
	display: inline-block;
	border: 1px solid #ccc;
	margin: 2px;
	cursor: pointer;
}

.drawpages-selectedpage:after {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid green;
	box-sizing: border-box;
	background-image: url('images/selected.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	content: '';
}

.drawpages-disabled {
	opacity: .4;
}

.drawpages-draw-selectedpage:after {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid red;
	box-sizing: border-box;
	background-image: url('images/selectedtodelete.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	content: '';
}

.drawpages-thumb-wrapper {
	position: absolute;
	width: 100%;
	height: 60px;
}

.drawpages-thumb-item {
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}

.drawpages-pagename-wrapper {

}

.drawpages-pagename-item {
	bottom: 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

.drawpages-add-new-draw {
	background: #EE6E73;
	padding: 10px 15px;
	float: right;
	margin-top: 10px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

.drawpages-add-new-draw:hover {
	background: #CF666A;
}

.drawpages-singledraw-wrapper {
	position: relative;
	width: 49%;
	float: right;
	margin-top: 10px;
	border: 1px solid #67ABD6;
}

.drawpages-singledraw-header {
	text-align: center;
	font-size: 15px;
	background-color: #67ABD6;
	height: 25px;
	line-height: 25px;
	color: #fff;
}

.drawpages-singledraw-list {
	min-height: 100px;
}

.drawpages-singledraw-list-ul {
	margin: 0px;
	padding: 0px 0px 30px 0px;
}

.drawpages-pages-list-options {
	width: 100%;
	position: absolute;
	height: 28px;
	bottom: 0px;
	background: #5082A5;
}

.drawpages-pages-list-option {
	padding: 5px 10px;
	float: left;
	margin-top: 4px;
	margin-left: 5px;
	cursor: pointer;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 12px;
}

.drawpages-pages-list-selectall {
	background: #4BAE5C;
}

.drawpages-pages-list-selectall:hover {
	background: #499957;
}

.drawpages-pages-list-deselectall {
	background: #EE6E73;
}

.drawpages-pages-list-deselectall:hover,
.drawpages-deleteselectedfromdraw:hover,
.drawpages-singledraw-delete:hover
{
	background: #CF666A;
}

.drawpages-singledraw-delete {
	width: 25px;
	height: 25px;
	background: #EE6E73;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	color: #fff;
}

.drawpages-draggablehelper {
	position: absolute;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #5082A5;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: -29px;
}

.drawpages-deleteselectedfromdraw {
	display: inline-block;
	background: #EE6E73;
	color: #fff;
	padding: 3px 20px;
	border-radius: 3px;
	cursor: pointer;
	bottom: -10px;
}

.drawpages-amounttodrawinput {
	width: 40px;
}

.drawpages-amounttodraw {
	float: right;
	margin-right: 10px;
}

.drawpages-emptycontainer-info {
	text-align: center;
	font-style: italic;
	font-size: 13px;
	padding: 33px 30px 0px 30px;
}

.drawpages-counter-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #fff;
	color: #222;
	border: 1px dashed #222;
	padding: 1px 2px;
	opacity: .9;
	font-size: 10px;
}