#scene-wrapper {
	width: calc(100% - 360px);
	height: calc(100% - 345px);
	top: 130px;
	left: 100px;
	position: relative;
	background: #fff;
	overflow: auto;
	background-color: #FAFAFA;
/*    -webkit-transition: width 200ms ease-in-out;
    -moz-transition: width 200ms ease-in-out;
    -o-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;*/
}

#scene {
	width: 860px;
	height: 500px;
	position: relative;
	border: 1px solid #ccc;
	background: #fff;
	margin: auto;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#scene img{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

#scene .note-editor * {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.stage-empty-content{
	background-color: #333333;
}

.app-controller-2{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	border: 1px solid black;
}

.project-view{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}

#projects-controller-wrapper{

    position: relative;
    top: 80px;
    left: 100px;
    width: calc(100% - 100px);
    height: calc(100% - 80px);
	
}

.projects-controller{

	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}


.projects-navigation{
	list-style: none;
    padding: 2px;
    margin: 0px;
	width: 100%;
	height: 23px;
	background-color:#FFF;
}

.project-navigation-item-view{
	position: relative;
	display: inline-block;
	max-width: 150px;
    min-width: 55px;	
	height: 20px;
	background-color: #FFF;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 1px;
	border-bottom: hidden;
}

.editable-project-navigation-item-view{
	background-color: #FFF;
}

.project-navigation-item-view:hover {
	background-color: #DAD1E5;
}

.project-navigation-item-view[active="true"] {
	border-top: 3px solid #67ABD6;
}

.project-navigation-close-button{
    position: absolute;
    top: 1px;
    right: 5px;
    cursor: pointer;
    color: #B5B5B5;
}

.project-navigation-close-button:hover {
	color: #000;
}

.project-navigation-name{
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
    font-size: 11px;
    font-family: sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 15px);
    overflow: hidden;
    padding: 0px 10px;
    box-sizing: border-box;
}

.project-navigation-name.main-project-tab{
	width: 100%;
}

.project-navigation-selector{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.open-projects-list{
	position: relative;
	background: #fff;
	overflow: hidden;
	background-color:#FFF;
	list-style: none;
    width: 100%;
    height: 100%;
}

.project-view-top-section {
	width: 100%;
	height: 100%;
}

.stage-view-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.stage-view-wrapper {
	width: calc(100% - 260px);
	height: calc(100% - 210px);
	position: relative;
	background: #fff;
	overflow: auto;
	background-color: #FAFAFA;
	box-sizing: border-box;
	padding: 20px;
	position: relative;
}

.stage-view {
	width: 860px;
	height: 500px;
	position: relative;
	border: 1px solid #ccc;
	background: #fff;
	margin: auto;
	/*overflow: hidden;*/
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.pages-list-wrapper{

	overflow: visible;

	right: 0px;
	top: 82px;
	position: fixed !important;
	background: #fff !important;
	width: 257px;
	border-left: 1px solid #ccc;
}

.pages-list-wrapper-main{
	height: calc(100% - 283px);
}

.pages-list-wrapper-other{
	height: calc(100% - 120px);
}

.pages-list-section{
	height: 100%;
}

.project-view-plus-button{
	position: relative;
	top: -8px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	margin: 1px;
	border: 1px solid #ccc;
	cursor: pointer;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-align: center;
	vertical-align: middle;
	line-height: 20px;
}

.projects-list-container{
	width: 100%;
	height: 100%;
}

.projects-list-section{
	width: 100%;
	height: 100%;
	padding: 20px;
	overflow: auto;
	box-sizing: border-box;
}

.project-item-block{
	display: inline-block;
	width: 150px;
	height: 150px;
	background-color: #FFF;
	margin: 5px;
	border: 1px solid #ccc;


}
.project-item-image-container > img{
	width: 140px;
	height: 100px;
}

.share-project-data,
.share-template-project-data,
.template-project-data,
.user-project-data{
	list-style: none;
    padding: 2px;
    margin: 0px;
}

.new-page-plus-button{
	position: relative;
    height: 50px;
    width: 150px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    display: block;
    margin: 10px auto;
    background-color: #F7F7F7;
    border: 1px solid #ccc;
}
.new-page-plus-button:hover {
	    background-color: #D4E4EF;
}

.not-editable-stage-view-wrapper{
	background-color: #FFF;
}

.editors-navigation{
	list-style: none;
    padding: 2px;
    margin: 0px;
	width: 100%;
	height: auto;
	background-color:#FFF;
}


.editor-navigation-item-view{
	position: relative;
	display: inline-block;
	width: auto;
	height: 20px;
	background-color: #FFF;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 1px;
	border-bottom: hidden;
	padding: 3px;
}

.editor-navigation-item-view[editordisabled="true"]{
	opacity: 0.5;
}

.editor-navigation-item-view:hover {
	background-color: #DAD1E5;
}

.editor-navigation-item-view[active="true"] {
	border-top: 3px solid #67ABD6;
}

.editor-navigation-close-button{
	position: absolute;
	right: 5px;
	cursor: pointer;
}

.editor-navigation-name{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	width: 100%;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;

	font-size: 11px;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0px 8px;
}

.editor-navigation-selector{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.open-editors-list{
	position: relative;
	background: #fff;
	overflow: auto;
	background-color:#FFF;
	list-style: none;
    padding: 2px;
    box-sizing: border-box;
}

.editors-controller{
	position: absolute;
	bottom: 0px;
	height: 210px;
	width: 100%;
	left: 0px;
	border-top: 2px solid #aaaaaa;
	z-index: 1000;
}

.open-editors-list-wrapper {
    height: calc(100% - 38px);
    /*overflow: auto;*/
}

.open-projects-list-wrapper{
	width: 100%;
	height: calc(100% - 27px);
}


.pages-list{
	height: 100%;
}

.pagelist-buttons-wrapper{
	left: 20px;
}

.toggle-icon2{
	width: 20px;
	height: 20px;
	background-color: red;
}

.projects-navigation-wrapper {
	
}

.pagelist-no-pages-wrapper{
	position: relative;
	height: 18px;
	width: 150px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	text-align: center;
	display: block;
	margin: 10px auto;
	background-color: #F7F7F7;
	border: 1px solid #ccc;
	background-color: red;
	color: white
}

.empty-stage-view{
	background-color: #FAFAFA;
}