.add-multi-components-window-view{
    position: absolute !important;
    top: 120px;
    left: 120px;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    z-index: 5000;
    background-color: #ffffff;
    border: 3px solid #5082A5;
    border-radius: 3px;
    box-shadow: 3px 3px 12px #7FA1B7;
}

.add-multi-components-window-view .content {
    padding: 10px;
}

.add-multi-components-window-view[modal="true"]{
    position: absolute;
    width: 100%;
    height: 100%;
}

.add-multi-components-input-values{
    margin: 5px;
    width: calc(100% - 10px);
    height: 200px;
}


