.window-mailing-view {
	width: 90%;
	height: 85%;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.window-mailing-view .window-content {
  overflow: auto;
  height: calc(100% - 73px);
  padding: 20px;
  box-sizing: border-box;
}

.window-mailing-view .tagsinput {
    height: 100px !important;
    width: 100% !important;
}

.banner-mailing-message {
    width: 100%;
    height: 200px;
    resize: none;
}

.window-mailing-view fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.window-mailing-view legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.window-mailing-view .column1 {
    width: 60%;
    float: left;
}
.window-mailing-view .column2 {
    width: 35%;
    float: right;
}

.window-mailing-view .addtaginput input {
    width: 150px !important;
}

#groupsusers-groups ul {
    margin-top: 25px;
}

.groupsusers-wrapper ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.groupsusers-wrapper ul li{
    border-bottom: 1px solid #ccc;
    padding: 5px 0px;
}

.groupsusers-wrapper .addnewgroup {
    position: relative;
    right: 0px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #999;
    background: #5082A5;
    cursor: pointer;
    color: #fff;
    padding: 0px 12px;
    float: right;
}

.banner-mailing-title {
	width: 98%;
	margin-bottom: 7px;
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	line-height: 20px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #cccccc;
}

.open-dstats {
    position: relative;
    right: 0px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #999;
    background: #5082A5;
    cursor: pointer;
    color: #fff;
    padding: 0px 12px;
    margin-bottom: 7px;
}

.open-dstats:hover {
    background: #96C9ED;
}

.window-mailing-view .publish-buttons {
	position: absolute;
	height: 30px;
	bottom: 0px;
	width: 100%;
}

.window-mailing-view .banner-send {
	text-align: center;
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	width: 100%;
	background-color: #47983D;
}
.window-mailing-view .banner-send:hover {
	background-color: #5FC353;
}