.editor-container-window-view{
    position: absolute !important;
    top: 120px;
    left: 120px;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    z-index: 5000;
    background-color: #ffffff;
    border: 3px solid #5082A5;
    border-radius: 3px;
    box-shadow: 3px 3px 12px #7FA1B7;
}

.editor-container-window-view .content {
    padding: 10px;
}

.editor-container-window-view[modal="true"]{
    position: absolute;
    width: 100%;
    height: 100%;
}




.editor-container-window-view{
	width: auto;
	height: auto;
	min-width: 130px;
	min-height: 45px;

	max-width: 1200px;
	max-height: 600px;
}
