/* 
    Document   : animsstyles
    Created on : 2013-02-28, 14:07:16
    Author     : Piotr
    Description:
        Purpose of the stylesheet follows.
*/

root { 
display: block;
margin:10px;
}

.topbar,
.botbar
{
    clear: both;
    overflow: hidden;
}
.topbar div,
.botbar div
{
    float: left;
    vertical-align: top;
}
.topbar .leftside,
.botbar .leftside
{
    width: 17px;
    height: 59px;
    background-image:url('../skin/bar_left.png');
}
.topbar .middle,
.botbar .middle
{
    width: calc(100% - 34px);
    height: 59px;
    background-image:url('../skin/bar_middle.png');
    background-repeat: repeat-x;
}
.topbar .rightside,
.botbar .rightside
{
    
    width: 17px;
    height: 59px;
    background-image:url('../skin/bar_right.png');
}

.botbar {
    position: relative;
    top: -8px;
}

.leftbar,
.rightbar
{
    position: relative;
    top: -4px;
    float: left;
    width: 19px;
    height: calc(100% - 118px);
    background-repeat: repeat-y;
}

.leftbar {
    background-image:url('../skin/shadow_left.png');
}
.rightbar {
    background-image:url('../skin/shadow_right.png');
}

#skin {
    position: relative;
/*    width: 930px;
    height: 610px;*/
    margin: auto;
    top: 10px;
}
#stage {
    float: left;
    position: relative; 
    z-index: 1;
    top: -5px;
}

#menu {
    position: relative;
    height: 40px;
    width: 100%;
    z-index: 2;
    margin-top: 7px;
}

#pagename {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 785px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    overflow: hidden;
    font-size: 14px;
    color: #EC0D83;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#previous,
#next,
#stop,
#pause,
#play,
#counter,
#speaker,
#fullscreen,
#helpbtn,
#toc,
#speakerbtn
{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 10%;
    height: 40px;
    cursor: pointer;
}


#previous {
    background-image:url('../skin/btn_prev.png');
}

#next {
    background-image:url('../skin/btn_next.png');
}

#stop {
    background-image:url('../skin/btn_stop.png');
    opacity: 0;
}

#pause {
    background-image:url('../skin/btn_pause.png');
    opacity: 0;
}

#play {
    background-image:url('../skin/btn_play.png');
    opacity: 0;
}

#counter {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    color: #EC0D83;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
}


#helpbtn {
    background-image:url('../skin/btn_help.png');
}

#fullscreen {
}

.fullscreen {
    background-image: url('../skin/fullscreen.png');
}

.fullscreen-exit {
    background-image: url('../skin/fullscreen_exit.png');
}


#toc {
    background-image:url('../skin/btn_toc.png');
}

#speaker {
    background-image:url('../skin/btn_soundon.png');
}

#toctop {
    display: none;
}

#speakerbtn {
    background-image:url('../skin/btn_soundon.png');
}

#speakerbtn[off="true"] {
    background-image:url('../skin/btn_soundoff.png');
}

#closebtn {
    display: none;
}