<?php 

	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/default/top_menu_template_default_basic.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/default/top_menu_template_default_normal.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/default/top_menu_template_default_test_drive.templ');

	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/browser/top_menu_template_browser_basic.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/browser/top_menu_template_browser_normal.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/browser/top_menu_template_browser_test_drive.templ');

	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/ipad/top_menu_template_ipad_basic.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/ipad/top_menu_template_ipad_normal.templ');
	require_once base_path('/js/editors/standard/modules/menus/top_menu/templates/ipad/top_menu_template_ipad_test_drive.templ');

 ?>