.window-timer-view {
	width: 68px;
	height: 40px;
	top:5px;
	left: 5px;
	z-index: 5001;
	background-color: white;
	overflow: visible;
}

.timer-window-container{
	margin: 5px;
}

.timer-window-container span{
	color: black;
    margin-left: 12px;
}

.timer-window-top-bar{
    width: 100%;
    height: 15px;
    line-height: 12px;
    background: #5082A5;
    color: #fff;
    text-indent: 5px;
    font-size: 12px;
    /*cursor: move;*/
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
    box-sizing: border-box;
}

.window-timer-view .tooltip-inner {
    min-width: 210px;
    white-space: normal;
    padding: 10px;
    box-sizing: border-box;
    overflow: visible;
}